.tourism-info {
  &__container {
    display: flex;
    justify-content: space-between;
    gap: 111px;
    padding-top: 26px;

    @media (max-width:1470px) {
      gap: 36px;
    }

    @media (max-width:1100px) {
      gap: 32px;
    }

    @media (max-width:720px) {
      align-items: center;
      flex-direction: column;
      gap: 75px;
    }
  }

  &__cards-block {
    width: 658px;

    @media (max-width:1470px) {
      max-width: 658px;
      width: calc((100% - 36px) / 2);
    }

    @media (max-width:1100px) {
      width: calc((100% - 32px) / 2);
    }

    @media (max-width:720px) {
      width: 100%;
    }
  }

  &__title {
    position: relative;
    margin-bottom: 32px;
    padding-left: 120px;
    font-size: 26px;
    line-height: 32px;

    @media (max-width:1100px) {
      padding-left: 100px;
    }

    @media (max-width:720px) {
      margin-bottom: 24px;
      font-size: 24px;
      line-height: normal;
    }

    @media (max-width:480px) {
      margin-bottom: 16px;
      padding-left: 80px;
      font-size: 20px;
      line-height: 26px;
    }

    &::before {
      content: "0" counter(counter);
    }

    &::after {
      left: 0px;
      width: 90px;

      @media (max-width:1100px) {
        width: 70px;
      }

      @media (max-width:480px) {
        width: 60px;
      }
    }

    &::before {
      top: -100%;
      border: 1px solid #dcdcdc;
      width: 40px;
      height: 40px;
      font-size: 14px;
      font-weight: 400;
      transform: none;

      @media (max-width:720px) {
        top: -125%;
      }

      @media (max-width:480px) {
        top: -100%;
        width: 26px;
        height: 26px;
      }
    }
  }

  &__card {
    width: 100%;
  }

  &__card-img-block {
    border-radius: 10px;
    margin-bottom: 47px;
    width: 100%;
    aspect-ratio: 658 / 331;
    background-color: var(--light-gray);
    overflow: hidden;

    @media (max-width:1100px) {
      margin-bottom: 36px;
      aspect-ratio: 0;

      & img {
        min-height: 200px;
      }
    }

    @media (max-width:720px) {
      margin-bottom: 32px;

      & img {
        width: 100%;
        max-height: 260px;
      }
    }

    @media (max-width:480px) {
      margin-bottom: 24px;
    }
  }

  &__card-link {
    border-radius: 5px;
    padding: 12px;
    width: 211px;
    min-height: 54px;
    background: var(--red);

    @media (max-width:480px) {
      width: 190px;
      min-height: 44px;
    }
  }
}
