include ../../mixins/text.pug
include ../../mixins/tabs-block.pug
include ../../mixins/schedule-cards.pug

-
  const coursesText = [
    'Обучение дайвингу — это первый и главный шаг к новым ощущениям, которые можно получить только при погружении под воду. Курсы проводятся по Российским государственным и международным стандартам PADI и ISO. Наши инструкторы — опытные профессионалы и увлеченные энтузиасты, а выбор курсов — один из самых обширных в мире. Мы готовы «заразить» любовью к дайвингу каждого, кто стремится открыть для себя подводный мир озер, морей и океанов!',
  ];
  const coursesTabs = [
    {
      title: 'Расписание занятий',
      class: 'tabs__btn--active'
    },
    {
      title: 'Курсы PADI в поездках',
    },
    {
      title: 'Дайвинг-курсы в Москве',
    },
  ];
  const coursesCards = [
    {
      classTab: 'tab--active',
      block: [
        {
          title: 'Junior Open Water Diver (с 10 лет)', price: 'от 1 900 $',
          bottom: {
            'schedule-calendar' : 'Пн. 30 октября 2024 | 10:00 - 14:00',
            'water-waves' : 'Дайвинг-центр "Азовский"',
            'tour-guide' : 'Инструктор RuDIVE',
          },
        },
        {
          title: 'Divemaster', price: 'от 1 900 $',
          bottom: {
            'schedule-calendar' : 'Пн. 30 октября 2024 | 10:00 - 14:00',
            'water-waves' : 'Дайвинг-центр "Азовский"',
            'tour-guide' : 'Инструктор RuDIVE',
          },
          btnClass: 'schedule__card-btn--active'
        },
        {
          title: 'Enriched Air Diver', price: 'от 1 900 $',
          bottom: {
            'schedule-calendar' : 'Пн. 30 октября 2024 | 10:00 - 14:00',
            'water-waves' : 'Дайвинг-центр "Азовский"',
            'tour-guide' : 'Инструктор RuDIVE',
          },
        },
        {
          title: 'Junior Advanced Open Water Diver', price: 'от 1 900 $',
          bottom: {
            'schedule-calendar' : 'Пн. 30 октября 2024 | 10:00 - 14:00',
            'water-waves' : 'Дайвинг-центр "Азовский"',
            'tour-guide' : 'Инструктор RuDIVE',
          },
        },
        {
          title: 'Emergency First Response', price: 'от 1 900 $',
          bottom: {
            'schedule-calendar' : 'Пн. 30 октября 2024 | 10:00 - 14:00',
            'water-waves' : 'Дайвинг-центр "Азовский"',
            'tour-guide' : 'Инструктор RuDIVE',
          },
        },
        {
          title: 'Обучение идеальной плавучести', price: 'от 1 900 $',
          bottom: {
            'schedule-calendar' : 'Вт. 27 февраля 2024 | 10:00 - 14:00',
            'water-waves' : 'Дайвинг-центр на Лодочной',
            'tour-guide' : 'Инструктор RuDIVE',
          },
          cardClass: 'none'
        },
        {
          title: 'Ice Diver. Полный курс', price: 'от 1 900 $',
          bottom: {
            'schedule-calendar' : 'Сб. 2 марта 2024 | 09:00 - 14:00',
            'water-waves' : 'Дайвинг-центр «Cпас-Каменка»',
            'tour-guide' : 'Инструктор RuDIVE',
          },
          cardClass: 'none'
        },
        {
          title: 'Emergency First Response', price: 'от 1 900 $',
          bottom: {
            'schedule-calendar' : 'Пн. 30 октября 2024 | 10:00 - 14:00',
            'water-waves' : 'Дайвинг-центр "Азовский"',
            'tour-guide' : 'Инструктор RuDIVE',
          },
          cardClass: 'none'
        },
        {
          title: 'Обучение идеальной плавучести', price: 'от 1 900 $',
          bottom: {
            'schedule-calendar' : 'Чт. 7 марта 2024 | 10:00 - 14:00',
            'water-waves' : 'Дайвинг-центр на Лодочной',
            'tour-guide' : 'Инструктор RuDIVE',
          },
          cardClass: 'none'
        },
        {
          title: 'Ice Diver. Полный курс', price: 'от 1 900 $',
          bottom: {
            'schedule-calendar' : 'Сб. 9 марта 2024 | 09:00 - 14:00',
            'water-waves' : 'Дайвинг-центр «Cпас-Каменка»',
            'tour-guide' : 'Инструктор RuDIVE',
          },
          cardClass: 'none'
        },
      ]
    },
    {
      block: [
        {
          title: 'Advanced Open Water Diver', price: 'от 3 100 $',
          bottom: {
            'schedule-calendar' : '06 марта - 17 марта 2024',
            'water-waves' : 'Индийский океан, Мальдивы',
            'tour-guide' : 'Ирина Квасова',
          },
        },
        {
          title: 'Open Water Diver (открытая вода)', price: 'от 1 400 $',
          bottom: {
            'schedule-calendar' : '13 марта - 24 марта 2024',
            'water-waves' : 'Тихий океан, Индонезия',
            'tour-guide' : 'Екатерина Кусачёва',
          },
          btnClass: 'schedule__card-btn--active'
        },
        {
          title: 'Open Water Diver (открытая вода)', price: 'от 2 500 $',
          bottom: {
            'schedule-calendar' : '05 апреля – 14 апреля 2024',
            'water-waves' : 'Филиппины, остров Бусуанга',
            'tour-guide' : 'Наталья Бараночникова',
          },
        },
        {
          title: 'Open Water Diver (открытая вода)', price: 'от 1 400 $',
          bottom: {
            'schedule-calendar' : '27 апреля – 04 мая 2024',
            'water-waves' : 'Красное море, Египет',
            'tour-guide' : 'Андрей Павлов',
          },
        },
        {
          title: 'Junior Advanced Open Water Diver', price: 'от 1 900 $',
          bottom: {
            'schedule-calendar' : '29 июня – 06 июля 2024',
            'water-waves' : 'Красное море, Египет',
            'tour-guide' : 'Алексей Побожаков',
          },
        },
        {
          title: 'Junior Rescue Diver', price: 'от 1 900 $',
          bottom: {
            'schedule-calendar' : '29 июня – 06 июля 2024',
            'water-waves' : 'Красное море, Египет',
            'tour-guide' : 'Алексей Побожаков',
          },
          cardClass: 'none'
        },
        {
          title: 'Underwater Navigator', price: 'от 1 900 $',
          bottom: {
            'schedule-calendar' : '29 июня – 06 июля 2024',
            'water-waves' : 'Красное море, Египет',
            'tour-guide' : 'Алексей Побожаков',
          },
          cardClass: 'none'
        },
        {
          title: 'Advanced Open Water Diver', price: 'от 3 100 $',
          bottom: {
            'schedule-calendar' : '14 июня – 25 июля 2024',
            'water-waves' : 'Индийский океан, Мальдивы',
            'tour-guide' : 'Ирина Квасова',
          },
          cardClass: 'none'
        },
        {
          title: 'Open Water Diver (открытая вода)', price: 'от 1 400 $',
          bottom: {
            'schedule-calendar' : '04 августа – 14 августа 2024',
            'water-waves' : 'Тихий океан, Индонезия',
            'tour-guide' : 'Екатерина Кусачёва',
          },
          cardClass: 'none'
        },
        {
          title: 'Open Water Diver (открытая вода)', price: 'от 2 500 $',
          bottom: {
            'schedule-calendar' : '09 августа – 17 августа 2024',
            'water-waves' : 'Филиппины, остров Бусуанга',
            'tour-guide' : 'Наталья Бараночникова',
          },
          cardClass: 'none'
        },
      ]
    },
    {
      block: [
        {
          title: 'Open Water Diver', price: 'от 1 900 $',
          bottom: {
            'schedule-calendar' : 'Пн. 30 октября 2024 | 10:00 - 14:00',
            'water-waves' : 'Дайвинг-центр "Лодочная"',
            'tour-guide' : 'Инструктор RuDIVE',
          },
        },
        {
          title: 'Advanced Open Water Diver', price: 'от 1 900 $',
          bottom: {
            'schedule-calendar' : 'Пн. 30 октября 2024 | 10:00 - 14:00',
            'water-waves' : 'Дайвинг-центр "Азовский"',
            'tour-guide' : 'Инструктор RuDIVE',
          },
          btnClass: 'schedule__card-btn--active'
        },
        {
          title: 'Advanced Open Water Diver', price: 'от 1 900 $',
          bottom: {
            'schedule-calendar' : 'Пн. 30 октября 2024 | 10:00 - 14:00',
            'water-waves' : 'Дайвинг-центр "Лодочная"',
            'tour-guide' : 'Инструктор RuDIVE',
          },
        },
        {
          title: 'Junior Advanced Open Water Diver', price: 'от 1 900 $',
          bottom: {
            'schedule-calendar' : 'Пн. 30 октября 2024 | 10:00 - 14:00',
            'water-waves' : '"Крокус Сити Океанариум"',
            'tour-guide' : 'Инструктор RuDIVE',
          },
        },
        {
          title: 'Open Water Diver', price: 'от 1 900 $',
          bottom: {
            'schedule-calendar' : 'Пн. 30 октября 2024 | 10:00 - 14:00',
            'water-waves' : '"Крокус Сити Океанариум"',
            'tour-guide' : 'Инструктор RuDIVE',
          },
        },
        {
          title: 'Open Water Diver', price: 'от 1 900 $',
          bottom: {
            'schedule-calendar' : 'Пн. 30 октября 2024 | 10:00 - 14:00',
            'water-waves' : 'Дайвинг-центр "Азовский"',
            'tour-guide' : 'Инструктор RuDIVE',
          },
          cardClass: 'none'
        },
        {
          title: 'Junior Advanced Open Water Diver', price: 'от 1 900 $',
          bottom: {
            'schedule-calendar' : 'Пн. 30 октября 2024 | 10:00 - 14:00',
            'water-waves' : '"Крокус Сити Океанариум"',
            'tour-guide' : 'Инструктор RuDIVE',
          },
          cardClass: 'none'
        },
        {
          title: 'Junior Advanced Open Water Diver', price: 'от 1 900 $',
          bottom: {
            'schedule-calendar' : 'Пн. 30 октября 2024 | 10:00 - 14:00',
            'water-waves' : 'Дайвинг-центр "Лодочная"',
            'tour-guide' : 'Инструктор RuDIVE',
          },
          cardClass: 'none'
        },
        {
          title: 'Advanced Open Water Diver', price: 'от 1 900 $',
          bottom: {
            'schedule-calendar' : 'Пн. 30 октября 2024 | 10:00 - 14:00',
            'water-waves' : '"Крокус Сити Океанариум"',
            'tour-guide' : 'Инструктор RuDIVE',
          },
          cardClass: 'none'
        },
        {
          title: 'Advanced Open Water Diver', price: 'от 1 900 $',
          bottom: {
            'schedule-calendar' : 'Пн. 30 октября 2024 | 10:00 - 14:00',
            'water-waves' : 'Дайвинг-центр "Азовский"',
            'tour-guide' : 'Инструктор RuDIVE',
          },
          cardClass: 'none'
        },
      ]
    },
  ];

.section.schedule.schedule-courses
  .container
    +text('schedule', coursesText)
    +tabsBlock('schedule-courses', 'schedule-courses', coursesTabs)
      for item, index in coursesCards
        .tab.schedule-courses__tab(id=`schedule-courses-tab-${index + 1}`, class=item.classTab)
          .schedule__cards-block
            +scheduleCards('schedule', item.block)
