.hero {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  min-height: 100vh;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: var(--primary);

  @media (max-width:1100px) {
    background-position: left 20% center;
  }

  @media (max-width:720px) {
    background-position: left 15% center;
  }

  &__content {
    padding: 110px 15px;
    width: 100%;
    max-width: 1470px;

    @media (max-width:1100px) {
      padding-top: 320px;
      padding-bottom: 80px;
    }

    @media (max-width:720px) {
      padding-bottom: 50px;
    }
  }

  &__links {
    display: flex;
    align-items: center;
    min-height: 70px;

    @media (max-width:1470px) {
      flex-wrap: wrap;
    }

    @media (max-width:480px) {
      min-height: 48px;
    }
  }

  &__link {
    border: 2px solid var(--white);
    border-radius: 0;
    padding: 10px;
    width: 362px;
    font-size: 19px;
    font-weight: 700;
    line-height: 42px;
    text-transform: uppercase;
    background: transparent;

    @media (max-width:1470px) {
      width: 50%;
    }

    @media (max-width:720px) {
      width: 100%;
      font-size: 18px;
      line-height: 32px;
    }

    @media (max-width:480px) {
      font-size: 16px;
      line-height: 28px;
    }
  }

  &__link--active {
    color: #0C3442;
    background-color: var(--white);
  }
}
