.accordion {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.10);

  &__trigger {
    justify-content: space-between;
    gap: 50px;
    width: 100%;
    height: 100%;
    text-align: left;
    background: transparent;

    &:hover {
      & .accordion__icon-line {
        background-color: var(--red);
      }

      & .accordion__icon::after {
        background-color: var(--red);
      }
    }
  }

  &__header-btn {
    border-radius: 5px;
  }

  &__icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 20px;
    height: 20px;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: var(--white);
      opacity: 1;
      visibility: visible;
      transform: translateY(-50%) rotate(90deg);
      transition: background-color 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    }

    @media (max-width:720px) {
      width: 16px;
      height: 16px;
    }
  }

  &__icon-line {
    width: 100%;
    height: 2px;
    background-color: var(--white);
    transition: background-color 0.3s ease-in-out;
  }

  &__content {
    box-sizing: content-box;
    max-height: 0;
    will-change: max-height;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
  }

  &--active {
    & .accordion__content {
      opacity: 1;
      visibility: visible;
    }

    & .accordion__icon::after {
      opacity: 0;
      visibility: hidden;
    }

    & .deeds__content {
      padding-top: 20px;
      padding-bottom: 46px;

      @media (max-width:1100px) {
        padding-bottom: 24px;
      }
    }

    & .oceanariums-questions__content {
      padding-top: 8px;
      padding-bottom: 32px;

      @media (max-width:720px) {
        padding-bottom: 24px;
      }

      @media (max-width:480px) {
        padding-bottom: 16px;
      }
    }

    & .oceanariums-price__content {
      @media (max-width:720px) {
        padding-top: 8px;
        padding-bottom: 24px;
      }

      @media (max-width:480px) {
        padding-bottom: 16px;
      }
    }

    &.prices__accordion {
      border-color: var(--red);
    }

    & .prices__content {
      border-top: 1px solid rgba(255, 255, 255, 0.15);
      padding-top: 32px;
      padding-bottom: 32px;

      @media (max-width:1100px) {
        padding-top: 24px;
        padding-bottom: 16px;
      }

      @media (max-width:480px) {
        padding-top: 16px;
      }
    }

    & .prices__header {
      & svg {
        fill: var(--red);
      }
    }

    & .trip-program__header-btn {
      background: var(--red);
    }

    & .trip-program__content {
      padding-top: 8px;
      padding-bottom: 20px;
    }
  }
}
