.blog {
  &__container-fluid {
    padding-right: max(15px, calc((100% - 1440px) / 2));

    @media (max-width:1470px) {
      padding-right: 0;
    }
  }

  &__title {
    position: relative;
    margin-bottom: 15px;
    padding-left: 106px;
  }

  &__swiper-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    margin-bottom: 64px;
    min-height: 50px;

    @media (max-width:1470px) {
      padding-right: 15px;
    }

    @media (max-width:720px) {
      margin-bottom: 32px;
      min-height: auto;
    }

    @media (max-width:480px) {
      margin-bottom: 26px;
    }
  }

  &__text {
    padding-left: 106px;
    color: var(--white);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;

    @media (max-width:720px) {
      padding-left: 0;
    }

    @media (max-width:480px) {
      font-size: 14px;
      line-height: 24px;
    }
  }

  &__swiper-top-block {
    display: flex;
    align-items: center;
    gap: 35px;
    padding-top: 3px;
    padding-bottom: 3px;
  }

  &__swiper-top-btns {
    display: flex;
    align-items: center;
    gap: 11px;
    width: 77px;
    height: 33px;

    @media (max-width:1100px) {
      display: none;
    }
  }

  &__swiper-button-prev,
  &__swiper-button-next {
    position: static;
    margin: 0;
    width: 33px;
    height: 33px;
  }

  &__link {
    padding: 12px;
    width: 174px;
    min-height: 50px;
    font-size: 15px;
    font-weight: 500;
    line-height: normal;

    @media (max-width:720px) {
      display: none;
    }
  }

  &__swiper-slide {
    width: auto;
    height: auto;
  }

  &__card {
    display: flex;
    flex-direction: column;
    max-width: 318px;
    min-height: 421px;
    padding-bottom: 4px;

    @media (max-width:480px) {
      max-width: 238px;
      min-height: 330px;
    }
  }

  &__card-img-block {
    border-radius: 10px;
    margin-bottom: 24px;
    width: 318px;
    height: 223px;
    background-color: var(--light-gray);
    overflow: hidden;

    @media (max-width:480px) {
      margin-bottom: 16px;
      width: 238px;
      height: auto;
    }
  }

  &__date-block {
    display: flex;
    align-items: center;
    gap: 9px;
    margin-bottom: 18px;

    @media (max-width:480px) {
      gap: 5px;
      margin-bottom: 11px;
    }
  }

  &__calendar {
    width: 15px;
    height: 15px;

    @media (max-width:480px) {
      width: 11px;
      height: 11px;
    }
  }

  &__card-date {
    color: rgba(255, 255, 255, 0.50);
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
  }

  &__card-title {
    margin-bottom: 12px;
    color: var(--white);
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;

    @media (max-width:480px) {
      font-size: 14px;
      line-height: 22px;
    }
  }

  &__card-link {
    margin-top: auto;
    padding: 12px;
    width: 109px;
    min-height: 42px;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;

    &--active {
      background: var(--red);
    }

    @media (max-width:480px) {
      padding: 6px;
      width: 81px;
      min-height: 32px;
    }
  }
}
