.contacts-offices {
  &__block {
    gap: 37px;

    @media (max-width:1470px) {
      gap: 24px;
    }
  }

  &__location {
    padding: 27px 32px 37px;
    height: 485px;

    @media (max-width:1470px) {
      padding: 16px;
      height: 400px;
    }

    @media (max-width:720px) {
      padding: 16px 32px;
      height: 300px;
    }

    @media (max-width:480px) {
      padding: 16px;
    }
  }

  &__location-list {
    height: 374px;

    @media (max-width:1470px) {
      height: 330px;
    }

    @media (max-width:720px) {
      height: 230px;
    }
  }

  &__location-btn {
    padding: 12px 4px 12px 20px;

    @media (max-width:1470px) {
      padding: 10px 4px 10px 12px;
    }
  }

  &__map-block {
    margin-right: 8px;
    height: 485px;

    @media (max-width:1470px) {
      margin-right: 0;
      height: 400px;
    }

    @media (max-width:720px) {
      height: auto;
    }
  }

  &__about {
    padding-top: 27px;
    height: 485px;

    @media (max-width:1470px) {
      padding-top: 0;
      height: 400px;
    }

    @media (max-width:1100px) {
      height: auto;
    }
  }

  &__about-content {
    margin-bottom: 0;
    max-height: 100%;
  }

  &__route {
    & + .contacts-offices__route {
      margin-top: 16px;
    }
  }

  &__time {
    margin-top: 20px;
    margin-bottom: 36px;

    @media (max-width:1100px) {
      margin-bottom: 24px;
    }

    @media (max-width:720px) {
      margin-top: 16px;
      margin-bottom: 16px;
    }
  }

  &__phone {}

  &__about-title {
    color: var(--white);
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
  }

  &__about-text {
    color: var(--white);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
  }
}
