.deeds {
  &__title {
    position: relative;
    margin-bottom: 56px;
    padding-left: 116px;

    &::before {
      content: "0" counter(counter);
      font-weight: 400;
    }

    @media (max-width:1470px) {
      margin-bottom: 32px;
    }

    @media (max-width:480px) {
      margin-bottom: 24px;
    }
  }
}

.accordion {
  @include accordion;
}
