.diving-centers {
  &__block {
    gap: 45px;

    @media (max-width:1470px) {
      gap: 24px;
    }

    @media (max-width:480px) {
      gap: 16px;
    }
  }

  &__block+.diving-centers__block {
    margin-top: 74px;

    @media (max-width:1100px) {
      margin-top: 48px;
    }

    @media (max-width:720px) {
      margin-top: 36px;
    }

    @media (max-width:480px) {
      margin-top: 24px;
    }
  }

  &__location {
    padding: 27px 32px 34px;
    height: 536px;

    @media (max-width:1470px) {
      padding: 16px;
      height: 400px;
    }

    @media (max-width:720px) {
      padding: 16px 32px;
      height: 300px;
    }

    @media (max-width:480px) {
      padding: 16px;
    }
  }

  &__location-list {
    height: 428px;

    @media (max-width:1470px) {
      height: 330px;
    }

    @media (max-width:720px) {
      height: 230px;
    }
  }

  &__location-btn {
    padding: 15px 4px 15px 20px;

    @media (max-width:1470px) {
      padding: 10px 4px 10px 12px;
    }
  }

  &__map-block {
    height: 536px;

    @media (max-width:1470px) {
      height: 400px;
    }

    @media (max-width:720px) {
      height: auto;
    }
  }
}
