doctype html
html(lang="ru")
  block vars
  head
    meta(charset="utf-8")
    meta(name="viewport",
    content="width=device-width, initial-scale=1.0")
    title ruDive
    link(rel="stylesheet" href="./css/vendor.css")
    link(rel="stylesheet" href=`./css/${name}.css`)
    script(defer src="./js/vendor.js")
    script(defer src="./js/main.js")
  body
    .wrapper
      include ../partials/header.pug
      include ../partials/modal/modal.pug
      block bg
        .wrapper__bg.wrapper__page-bg(style="background-image: url(./images/bg/page-bg.webp);")
      main.main
        block main
          include ../mixins/page-hero-lg.pug
          +pageHeroLg(name, links, lastItem, title, text)
      include ../partials/footer.pug
