include ../../mixins/text.pug

-
  const centerInfoList = [
    'паспорт (по нему вас пропустят на территорию фитнес-центра);',
    'чистую сменную обувь для бассейна;',
    'плавки (не шорты);',
    'купальник (закрытый спортивный);',
    'шапочку для бассейна;',
    'принадлежности для душа;',
    'шорты или футболку для учебы в классе (в классе очень тепло).',
  ];
  const centerInfoText = [
    'С 11:00 до 21:00',
    'По внутренним правилам клуба дайвер покидает территорию комплекса не позже, чем через 40 минут после окончания занятия. Дайверский пропуск действителен только в зоне дайвинга — это бассейн 50 (подробнее объяснит инструктор). Если у вас есть желание воспользоваться другими услугами комплекса, например, посетить спортзал, вы можете приобрести гостевое посещение в отделе продаж до 21:00 (1500 руб. взрослый пропуск, 1200 руб. пропуск для ребенка до 14 лет).',
  ];

section.section-bottom.center-info
  .container.center-info__container
    .center-info__block
      h4.fourth-title.center-info__title Что с собой взять?
      ul.list-reset.center-info__list
        for item in centerInfoList
          li.center-info__item= item
      p.center-info__paragraph.
        Убедительная просьба возвращать ключ от раздевалки после занятий:
        за потерю ключа или невозврат в течение суток потребуется оплата 500
        рублей. За утерю полотенца 500 рублей. За утерю ключа от сейфа для ценных
        вещей 5000 рублей за вскрытие. Спасибо за понимание!
    .center-info__block
      h4.fourth-title.center-info__title Часы работы
      +text('center-info', centerInfoText)
