include ../../mixins/text.pug

-
  const centerRouteText = [
    'Если поставить машину на подземную парковку торгового центра (платная), то с парковки виден указатель "Вход в торговый зал и «Фитзал»". Пройдя по указателю, вы сразу попадете на ресепшен бассейна. Если будете заезжать не с подземной парковки, то вам нужен вход в сам торговый центр.',
    'Чтобы доехать на метро, нужно выйти из первого вагона из центра на станции метро "Севастопольская", после турникетов выход по переходу направо и налево. Далее прямо по улице Азовская 5 минут пешком до ТЦ «Азовский».',
    `В торговом центре напротив "Л'Этуаль" вход в бизнес-центр, далее справа от лифта лестница. Вы спуститесь на цокольный этаж, где будет стойка регистрации и пропускной турникет. У стойки вас встретит сотрудник в футболке RuDIVE, отметит вас в списке студентов, у него же вы получите ключ от шкафчика и полотенце. Верхнюю одежду вы оставляете в гардеробе.`,
  ];

section.section.center-route
  .container.center-route__container
    .center-route__img-block
      picture
        source(srcset='./images/diving-center/center-route.webp' type='image/webp')
        img(src='./images/diving-center/center-route.jpg' alt='Бассейн' loading="lazy")
    .center-route__content
      h4.fourth-title.center-route__title Как доехать
      +text('center-route', centerRouteText, false)
