-
  const contactsForm = [
    {label: 'Название компании:', type: 'text', placeholder: 'Название компании'},
    {label: 'От кого:', type:'text', placeholder: 'ФИО'},
    {label: 'Контактный телефон:', type:'tel', placeholder: 'Номер телефона'},
    {label: 'Адрес электронной почты:', type:'tel', placeholder: 'Электронная почта'},
  ];

.offer
  h4.fourth-title.offer__title Обратная связь для поставщиков туристических услуг
  span.offer__subtitle Группа компаний RuDIVE всегда открыта новым уникальным предложениям!
  .text.offer__text Если вы являетесь поставщиком туристических услуг и хотели бы с нами сотрудничать, пожалуйста, используйте форму ниже для отправки информации о себе. Туроператор RuDIVE свяжется с вами в ближайшее время.
  form.offer__form
    .offer__form-top
      .offer__form-block
        for item in contactsForm
          label.offer__form-label
            span.offer__form-label-text= item.label
            input.input.offer__form-input(type=item.type, placeholder=item.placeholder)
      .offer__form-block
        label.offer__form-label
          span.offer__form-label-text Краткая информация о вашем предложении:
          textarea.input.offer__form-input.offer__form-textarea(placeholder='Ваше предложение')
    .offer__form-bottom
      .text.offer__form-submit Нажимая на кнопку "Отправить", я даю согласие на обработку персональных данных (согласно Федеральному закону от 27 июля 2006 года № 152-ФЗ «О персональных данных»)
      label.offer__form-label-checkbox.form-label-checkbox
        input.form-input-checkbox(type="checkbox")
        span.form-checkbox
        span.form-label-checkbox-text Я согласен со всеми условиями&nbsp;
          a.policy-link.offer__link(href="#") пользовательского соглашения
          |&nbsp;и&nbsp;
          a.policy-link.offer__link(href="#") политики конфиденциальности
      button.btn-reset.btn.offer__form-btn(type='submit') Отправить
