include ../../mixins/slider.pug
include ../../mixins/slider-btns.pug
include ../../mixins/text.pug

-
  const specialistText = [
    'Руководитель группы компаний RuDIVE и президент Подводного клуба МГУ, PADI курс-директор, кандидат биологических наук. Мечтал о коралловых рифах и подводном плавании с детства, поэтому после окончания школы с золотой медалью поступил на биологический факультет МГУ. В 1986 году окончил водолазную школу водолазом третьего класса. После второго курса ушел в военную разведку ВС СССР, откуда вернулся через два года живым и здоровым. За время научной карьеры проводил исследования в российских морях: от Белого, Баренцева и Черного морей до Японского моря, Байкала, Камчатки и Командор. Как только появилась возможность выезжать за рубеж, начались многочисленные поездки в другие страны. На подводные экспедиции Дмитрий зарабатывал уличным художником в разных городах Европы. Приключения тех лет вспоминает с удовольствием, особенно как жил под Акрополем в Афинах и в Париже «бомжевал» под мостом. Защитил кандидатскую диссертацию в 1994 г. и был зачислен ассистентом профессора в Южно-Калифорнийский университет, но — решил остаться на Родине. Несколько лет преподавал в МГУ, активно занимался наукой, начал работать над докторской диссертацией. В 1996 году вместе с другом основал Подводный клуб МГУ, а в 1997 профессионально занялся дайвинг-бизнесом. Одержимый путешественник и исследователь, Дмитрий объехал 96 стран, забирался в самые труднодоступные и дикие уголки земного шара и обнырял весь мир от Антарктиды до Гренландии, от острова Пасхи до мыса Доброй Надежды.',
    'Любимые места погружений — Кокос, Палау, Антарктида. Любимый вид дайвинга — глубоководные погружения на тримиксах в неизведанных местах. Дмитрий любит Бездну и заражает своей страстью к глубине окружающих. По словам Дмитрия, дайвинг для него — не хобби, не увлечение и не работа, это — его жизнь, а подводный мир — среда обитания. Автор восьми книг о дайвинге и подводном мире, создал и в течение пяти лет издавал журнал «Подводный клуб». Член технического комитета по дайвингу при Госстандарте РФ. В 2012 г. был официально утвержден в статусе почетного консула Республики Палау в Российской Федерации. Женат, трое детей — ныряют все.',
  ];

.specialist.section-top
  .container
    .specialist__gallery
      .swiper.specialist__swiper
        .swiper-wrapper
          +slider('specialist', 'specialist', [1, 2, 3, 4, 5, 6, 7])
      .specialist-min
        .swiper.specialist-min__swiper
          .swiper-wrapper
            +slider('specialist', 'specialist-min', [1, 2, 3, 4, 5, 6, 7])
        +sliderBtns('specialist-min')
    +text('specialist', specialistText, false)
