include ../../mixins/text.pug
include ../../mixins/table.pug
include ../../mixins/accordion.pug

-
  const bonusTextOne = [
    'Дисконтная 5-уровневая накопительная система группы RuDIVE успешно работает уже много лет. Суммы, оплаченные за курсы, клубные, индивидуальные и семейные туры в дайвинг-центрах RuDIVE, фиксируются на персональном накопительном счете.',
    'По достижении определенной суммы, автоматизированная система присваивает новый уровень скидки на услуги группы RuDIVE*. Соотношение уплаченных сумм, дисконтного уровня и размера скидки отражено в таблице.',
  ];
  const bonusTextTwo = [
    'С 1 сентября 2021 г. при достижении высшего уровня дисконта «Платина» в дополнение к максимальным скидкам начинается накопление бонусных баллов: 1% от всех оплат за туристические услуги и курсы поступает на персональный накопительный счет в виде бонусов (в рублях). При накоплении на счету суммы, составляющей стоимость места в клубной поездке или учебного курса, клиенту может предоставляться премиальное место в данной поездке при наличии мест, или проводиться желаемый учебный курс.Состояние персонального счета, скидки и накопленные баллы можно отслеживать в личном кабинете на сайте www.dive.ru, для чего нужно зарегистрироваться. Для этого сообщите любому менеджеру RuDIVE о своем желании завести личный кабинет, и вам придет письмо со ссылкой, логином и паролем для регистрации.**',
  ];
  const bonusTableHeader = [
    'Сумма на дисконтном счете', '500 $', '2 000 $', '9 000 $', '20 000 $', '40 000 $',
  ];
  const bonusTable = {
    '1': [
      'Уровень дисконта', 'Стандарт', 'Бронза', 'Серебро', 'Золото', 'Платина'
    ],
    '2': [
      'Скидка на обучение', '2%', '4%', '6%', '8%', '10%'
    ],
    '3': [
      'Скидка на поездки', '1%', '2%', '3%', '4%', '5%'
    ],
  };
  const bonusAc = [
    {
      header: 'Уровень дисконта: Стандарт',
      body: {
        'Сумма на дисконтном счете' : '500 $',
        'Скидка на обучение' : '2%',
        'Скидка на поездки' : '1%',
      },
    },
    {
      header: 'Уровень дисконта: Бронза',
      body: {
        'Сумма на дисконтном счете' : '2 000 $',
        'Скидка на обучение' : '4%',
        'Скидка на поездки' : '2%',
      },
    },
    {
      header: 'Уровень дисконта: Серебро',
      body: {
        'Сумма на дисконтном счете' : '9 000 $',
        'Скидка на обучение' : '6%',
        'Скидка на поездки' : '3%',
      },
    },
    {
      header: 'Уровень дисконта: Золото',
      body: {
        'Сумма на дисконтном счете' : '20 000 $',
        'Скидка на обучение' : '8%',
        'Скидка на поездки' : '4%',
      },
    },
    {
      header: 'Уровень дисконта: Платина',
      body: {
        'Сумма на дисконтном счете' : '40 000 $',
        'Скидка на обучение' : '10%',
        'Скидка на поездки' : '5%',
      },
    },
  ];

.section-bottom.bonus
  .container
    h3.third-title.bonus__title Дисконтно-бонусная система RuDIVE
    +text('bonus', bonusTextOne)
    +table('bonus', bonusTableHeader, bonusTable)
    +accordion('bonus', bonusAc)
    +text('bonus', bonusTextTwo, false)
      p.text__paragraph.text__paragraph--bold *Скидки не распространяются на пробные погружения (PADI Discover Scuba Diving), разовые занятия, на ремонт и аренду дайвинг-оборудования, погружения в океанариумах, книги, учебные материалы и дайвинг-сертификаты.
      p.text__paragraph.text__paragraph--bold **Информация актуализируется после оформления заявки
