extends ./templates/page-lg.pug

block vars
  -
    const name = 'training';
    const lastItem = 'Обучение';
    const title = 'Обучение';
    text = 'Группа RuDIVE (в прошлом — Подводный клуб МГУ) — известная международная школа дайвинга, имеет высокий статус PADI 5* IDC дайв-центра № 3564 и основана в 1996 г. Обучение в нашей школе дайвинга проходит по международным стандартам PADI, ISO и ГОСТ. Инструкторы — опытные профессионалы-энтузиасты. В школе преподают два PADI курс-директора, несколько мастер-инструкторов и кандидатов наук. Разнообразие курсов в нашем клубе — самое большое в мире, от начального уровня до тримикс-инструктора. Те, кто хочет только попробовать дайвинг, могут сделать пробное погружение в бассейне на Лодочной и в "Азовском", "Крокус Сити Океанариуме", "Москвариуме" или в Подмосковье.';

block append main
  include ./partials/training/training.pug
  include ./partials/training/training-centers.pug
  include ./partials/training/request.pug
  include ./partials/training/registration.pug
