mixin text(name, text, isTextBlock=true)
  .text(class=(isTextBlock) ? "text-block" : "", class=name + '__text')
    for paragraph in text
      p.text__paragraph!= paragraph
    if block
      block
