include ../../mixins/text.pug

-
  const requestText = [
    'Для обучения в дайвинг-центрах RuDIVE используется современное и качественное дайвинг-снаряжение зарубежных производителей (Aqualung, Tusa, Scubapro и других), которое часто обрабатывается и обеззараживается специальным антисептическим раствором. Все регуляторы снабжены октопусами (альтернативными источниками воздуха) и манометрами. Стальные баллоны разного объема регулярно опрессовываются, а в современных компрессорах часто меняются фильтры для высокого качества сжатого воздуха.',
  ];

section.section.request
  .container
    h3.third-title.page-third-title.request__title Для тех, кому удобнее заниматься в собственном бассейне или в ином бассейне не из нашего списка,&nbsp;
      a.link.request__link(href="./training.html") отправляйте заявку
      |, и мы ее удовлетворим.
    +text('request', requestText, false)
