section.section.equipment
  .container
    h3.third-title.page-third-title.equipment__title В дайв-центрах используется современное и качественное дайвинг-оборудование проверенных производителей
    .equipment__text
      .equipment__paragraph Aqualung, Tusa, Scubapro и других, которое обрабатывается антисептиком. Все регуляторы снабжены октопусами и манометрами. Стальные баллоны разного объема опрессовываются по графику, в современных компрессорах часто меняются фильтры для поддержания высокого качества воздуха. Для курсантов технических курсов есть спарки с манифолдами и баллоны для сайдмаунт-курсов.
      .equipment__paragraph Обучение проводят профессиональные и опытные инструкторы PADI с педагогическим, психологическим, биологическим и техническим образованием. Курсы оказания первой помощи EFR проводятся в центральном московском офисе и на выезде к заказчику. Дайвинг-курсы организуются также на выезде в личный бассейн или водоем заказчика. Обучение проводится на русском и по запросу на английском языке.
