:root {
  --white: #fff;
  --red: #ec0119;
  --light-gray: #d3d3d3;
  --primary: #01577b;
  --dark: #091521;
}

@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria-Regular.woff2") format("woff2"), url("../fonts/Geometria-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria-Medium.woff2") format("woff2"), url("../fonts/Geometria-Medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria-Bold.woff2") format("woff2"), url("../fonts/Geometria-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria-ExtraBold.woff2") format("woff2"), url("../fonts/Geometria-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria-Heavy.woff2") format("woff2"), url("../fonts/Geometria-Heavy.woff") format("woff");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.woff2") format("woff2"), url("../fonts/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Bold.woff2") format("woff2"), url("../fonts/Inter-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
html {
  height: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: Geometria, sans-serif;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  min-height: 100%;
  max-width: 1920px;
  counter-reset: counter;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper__bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--primary);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 100% calc(100% - 49vh);
}
@media (max-width: 1470px) {
  .wrapper__bg {
    background-size: auto calc(100% - 33vh);
  }
}
@media (max-width: 1100px) {
  .wrapper__bg {
    background-size: auto calc(100% - 24vh);
  }
}
@media (max-width: 480px) {
  .wrapper__bg {
    background-size: auto calc(100% - 42vh);
  }
}

.wrapper__page-bg {
  background-size: cover;
}
@media (max-width: 1470px) {
  .wrapper__page-bg {
    background-size: cover;
  }
}
@media (max-width: 1100px) {
  .wrapper__page-bg {
    background-size: cover;
  }
}
@media (max-width: 480px) {
  .wrapper__page-bg {
    background-size: cover;
  }
}

.wrapper__about-bg {
  background-size: 100% calc(100% - 100vh);
}
@media (max-width: 1470px) {
  .wrapper__about-bg {
    background-size: auto calc(100% - 100vh);
  }
}
@media (max-width: 1100px) {
  .wrapper__about-bg {
    background-size: auto calc(100% - 100vh);
  }
}
@media (max-width: 480px) {
  .wrapper__about-bg {
    background-size: auto calc(100% - 100vh);
  }
}

.main {
  position: relative;
  flex: 1 0 auto;
}

.footer {
  flex: 1 0 auto;
}

picture {
  display: block;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1470px;
}

.container-fluid {
  padding-left: max(15px, (100% - 1440px) / 2);
  padding-right: 0;
}

.section-top {
  padding-top: 100px;
  padding-bottom: 50px;
}
@media (max-width: 1100px) {
  .section-top {
    padding-top: 70px;
    padding-bottom: 35px;
  }
}
@media (max-width: 480px) {
  .section-top {
    padding-top: 50px;
    padding-bottom: 25px;
  }
}

.section {
  padding-top: 50px;
  padding-bottom: 50px;
}
@media (max-width: 1100px) {
  .section {
    padding-top: 35px;
    padding-bottom: 35px;
  }
}
@media (max-width: 480px) {
  .section {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

.section-bottom {
  padding-top: 50px;
  padding-bottom: 100px;
}
@media (max-width: 1100px) {
  .section-bottom {
    padding-top: 35px;
    padding-bottom: 70px;
  }
}
@media (max-width: 480px) {
  .section-bottom {
    padding-top: 25px;
    padding-bottom: 50px;
  }
}

.stop-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  overscroll-behavior: none;
}

.logo {
  width: 103px;
  flex-shrink: 0;
}
@media (max-width: 480px) {
  .logo {
    width: 67px;
  }
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: fit-content;
  color: var(--white);
  text-align: center;
  outline-offset: 2px;
  outline: 2px solid transparent;
  transition: color 0.3s ease-in-out, outline-color 0.3s ease-in-out;
}
.link:focus {
  outline-color: var(--white);
}
.link:hover {
  color: var(--red);
  outline-color: transparent;
}

.link-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: fit-content;
  color: var(--white);
  text-align: center;
  background: rgba(255, 255, 255, 0.2);
  outline-offset: 2px;
  outline: 2px solid transparent;
  transition: color 0.3s ease-in-out, outline-color 0.3s ease-in-out, background 0.3s ease-in-out;
}
.link-btn:focus {
  outline-color: var(--white);
}
.link-btn:hover {
  color: var(--red);
  background: var(--white);
  outline-color: transparent;
}

.nav-link {
  border-radius: 10px;
  color: var(--white);
  outline-offset: 2px;
  outline: 2px solid transparent;
  transition: color 0.3s ease-in-out, outline-color 0.3s ease-in-out;
}
.nav-link:focus {
  outline-color: var(--white);
}
.nav-link:hover {
  color: var(--red);
  outline-color: transparent;
}

.policy-link {
  color: var(--white);
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-decoration: underline;
  outline-offset: 2px;
  outline: 2px solid transparent;
  transition: color 0.3s ease-in-out, outline-color 0.3s ease-in-out;
}
.policy-link:focus {
  outline-color: var(--white);
}
.policy-link:hover {
  color: var(--red);
  outline-color: transparent;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: var(--white);
  text-align: center;
  background: rgba(255, 255, 255, 0.2);
  outline-offset: 2px;
  outline: 2px solid transparent;
  transition: color 0.3s ease-in-out, fill 0.3s ease-in-out, outline-color 0.3s ease-in-out, background 0.3s ease-in-out;
}
.btn svg {
  fill: var(--white);
  transition: fill 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.btn:focus-visible {
  outline: 2px solid transparent;
}
.btn:focus {
  outline-color: var(--white);
}
.btn:hover {
  color: var(--red);
  background: var(--white);
  outline-color: transparent;
}
.btn:hover svg {
  fill: var(--red);
}

.transparent-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: var(--white);
  text-align: center;
  background: transparent;
  outline-offset: 2px;
  outline: 2px solid transparent;
  transition: color 0.3s ease-in-out, outline-color 0.3s ease-in-out, background 0.3s ease-in-out;
}
.transparent-btn:focus-visible {
  outline: 2px solid transparent;
}
.transparent-btn:focus {
  outline-color: var(--white);
}
.transparent-btn:hover {
  color: var(--red);
  background: var(--white);
  outline-color: transparent;
}

.white-btn:hover {
  color: var(--white);
  background: var(--red);
}

.second-title {
  margin: 0;
  color: var(--white);
  font-size: 36px;
  font-weight: 900;
  line-height: normal;
}
@media (max-width: 720px) {
  .second-title {
    font-size: 30px;
  }
}
@media (max-width: 480px) {
  .second-title {
    font-size: 24px;
  }
}

.third-title {
  margin: 0;
  color: var(--white);
  font-size: 30px;
  font-weight: 800;
  line-height: 42px;
}
@media (max-width: 720px) {
  .third-title {
    font-size: 24px;
    line-height: normal;
  }
}
@media (max-width: 480px) {
  .third-title {
    font-size: 20px;
    line-height: 26px;
  }
}

.page-third-title {
  font-weight: 700;
  line-height: 40px;
}
@media (max-width: 720px) {
  .page-third-title {
    line-height: normal;
  }
}
@media (max-width: 480px) {
  .page-third-title {
    line-height: 26px;
  }
}

.fourth-title {
  margin: 0;
  color: var(--white);
  font-size: 22px;
  font-weight: 700;
  line-height: 25px;
}
@media (max-width: 720px) {
  .fourth-title {
    font-size: 20px;
  }
}
@media (max-width: 480px) {
  .fourth-title {
    font-size: 18px;
  }
}

.numbered-title::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 37px;
  width: 52px;
  height: 1.5px;
  background-color: var(--white);
  transform: translateY(-50%);
}
.numbered-title::before {
  counter-increment: counter;
  content: counter(counter);
  position: absolute;
  top: 50%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  color: var(--white);
  text-align: center;
  font-family: Inter;
  font-size: 10px;
  font-weight: 700;
  line-height: normal;
  background-color: rgba(255, 255, 255, 0.2);
  transform: translateY(-50%);
}

.text {
  margin-bottom: 60px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
@media (max-width: 1470px) {
  .text {
    margin-bottom: 48px;
  }
}
@media (max-width: 1100px) {
  .text {
    margin-bottom: 36px;
  }
}
@media (max-width: 720px) {
  .text {
    margin-bottom: 32px;
    line-height: 24px;
  }
}
@media (max-width: 480px) {
  .text {
    margin-bottom: 24px;
    font-size: 14px;
    line-height: 22px;
  }
}
.text__paragraph:not(:last-child) {
  margin-bottom: 26px;
}
@media (max-width: 1470px) {
  .text__paragraph:not(:last-child) {
    margin-bottom: 24px;
  }
}
@media (max-width: 1100px) {
  .text__paragraph:not(:last-child) {
    margin-bottom: 16px;
  }
}
@media (max-width: 480px) {
  .text__paragraph:not(:last-child) {
    margin-bottom: 12px;
  }
}
.text__paragraph--bold {
  font-style: italic;
  font-weight: 500;
}
.text__link {
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
}

.swiper-btns {
  display: flex;
  align-items: center;
  gap: 11px;
  width: 78px;
  height: 34px;
}
@media (max-width: 480px) {
  .swiper-btns {
    width: 67px;
    height: 28px;
  }
}

.swiper-button-prev,
.swiper-button-next {
  position: static;
  border-radius: 50%;
  margin: 0;
  width: 33px;
  height: 33px;
  outline-offset: 2px;
  outline: 2px solid transparent;
  transition: color 0.3s ease-in-out, outline-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
@media (max-width: 480px) {
  .swiper-button-prev,
  .swiper-button-next {
    width: 28px;
    height: 28px;
  }
}
.swiper-button-prev:focus-visible,
.swiper-button-next:focus-visible {
  outline: 2px solid transparent;
}
.swiper-button-prev:focus,
.swiper-button-next:focus {
  outline-color: var(--white);
}

.swiper-button-prev.swiper-button-disabled .prev-active,
.swiper-button-prev.swiper-button-disabled .next,
.swiper-button-next .prev-active,
.swiper-button-next .next {
  opacity: 0;
  visibility: hidden;
  width: 0;
  height: 0;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
.swiper-button-prev.swiper-button-disabled .next-active,
.swiper-button-prev.swiper-button-disabled .prev,
.swiper-button-next .next-active,
.swiper-button-next .prev {
  opacity: 1;
  visibility: visible;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.swiper-button-next.swiper-button-disabled .next-active,
.swiper-button-next.swiper-button-disabled .prev,
.swiper-button-prev .next-active,
.swiper-button-prev .prev {
  opacity: 0;
  visibility: hidden;
  width: 0;
  height: 0;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
.swiper-button-next.swiper-button-disabled .prev-active,
.swiper-button-next.swiper-button-disabled .next,
.swiper-button-prev .prev-active,
.swiper-button-prev .next {
  opacity: 1;
  visibility: visible;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

.swiper-button-prev {
  transform: rotateY(180deg);
}

.gift-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 4px inset #d9d9d9;
  border-radius: 10px;
  width: 100%;
  background-color: var(--white);
  outline-offset: 2px;
  outline: 2px inset transparent;
  transition: outline-color 0.3s ease-in-out;
}
.gift-card:focus-visible {
  outline: 2px inset transparent;
}
.gift-card:focus {
  outline-color: #d9d9d9;
}
.gift-card:focus.gift-card--active {
  outline-color: var(--red);
}
.gift-card:hover {
  outline-color: transparent;
}
.gift-card:hover .gift-card__title {
  color: var(--red);
}
.gift-card:hover.gift-card--active {
  outline-color: transparent;
}
.gift-card--active {
  border: 4px inset var(--red);
}

.gift-card__title {
  display: inline-block;
  color: var(--dark);
  font-size: 16px;
  font-weight: 500;
  text-wrap: balance;
  transition: color 0.3s ease-in-out;
}
@media (max-width: 480px) {
  .gift-card__title {
    font-size: 14px;
  }
}

.gift-card__price {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  color: var(--dark);
}
.gift-card__price svg {
  flex-shrink: 0;
  width: 19px;
  height: 26px;
}

.input {
  border: none;
  border-radius: 10px;
  color: var(--dark);
  outline-offset: 2px;
  outline: 2px solid transparent;
  transition: color 0.3s ease-in-out, outline-color 0.3s ease-in-out;
  -webkit-appearance: none;
  appearance: none;
}
.input::-webkit-search-decoration, .input::-webkit-search-cancel-button, .input::-webkit-search-results-button, .input::-webkit-search-results-decoration {
  display: none;
}
.input:focus-visible {
  outline: 2px solid transparent;
}
.input:focus {
  outline-color: var(--white);
}
.input:hover {
  color: var(--red);
  outline-color: transparent;
}
.input:hover::placeholder {
  color: var(--red);
}
.input::placeholder {
  color: #7b7b7b;
  transition: color 0.3s ease-in-out;
}

.form-label-checkbox {
  position: relative;
  color: var(--white);
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}
@media (max-width: 720px) {
  .form-label-checkbox {
    line-height: 22px;
  }
}

.form-input-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.form-input-checkbox:focus + .form-checkbox {
  outline-color: var(--white);
}
.form-input-checkbox:hover + .form-checkbox {
  outline-color: transparent;
}
.form-input-checkbox:checked + .form-checkbox {
  background-position: center center;
  background-image: url("../images/svg/form-check-mark-light.svg");
}

.form-checkbox {
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  flex-shrink: 0;
  flex-grow: 0;
  border: none;
  border-radius: 5px;
  width: 26px;
  height: 26px;
  background: rgba(255, 255, 255, 0.2);
  background-repeat: no-repeat;
  cursor: pointer;
  outline: 1px solid transparent;
  outline-offset: 1px;
  transition: outline-color 0.3s ease-in-out;
}

.form-label-checkbox-text {
  display: inline-block;
  padding-left: 40px;
  cursor: pointer;
  user-select: none;
}

.simplebar-track.simplebar-vertical {
  width: 5px;
}

.simplebar-scrollbar:before {
  left: 0;
  right: 0;
  border-radius: 0;
  background: var(--white);
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
}
.header::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, 0.5);
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 12px;
  padding-bottom: 6px;
}
.header__logo-link {
  margin-right: 44px;
}
@media (max-width: 1470px) {
  .header__logo-link {
    z-index: 100;
  }
}
.header__menu {
  margin-right: 32px;
}
@media (max-width: 1470px) {
  .header__menu {
    display: none;
  }
}
.header__menu--active {
  display: none;
}
@media (max-width: 1470px) {
  .header__menu--active {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    display: block;
    margin-right: 0;
    padding: 80px 20px 50px;
    width: 50vw;
    min-height: 100vh;
    height: 100%;
    background: rgba(1, 87, 123, 0.95);
  }
}
@media (max-width: 1100px) {
  .header__menu--active {
    width: max(500px, 50vw);
  }
}
@media (max-width: 720px) {
  .header__menu--active {
    width: 100vw;
  }
}
@media (max-width: 480px) {
  .header__menu--active {
    padding-top: 60px;
  }
}
.header__menu-inner {
  display: flex;
  align-items: center;
}
@media (max-width: 1470px) {
  .header__menu-inner {
    align-items: flex-start;
    flex-direction: column;
    padding: 4px;
    min-height: calc(100vh - 133px);
    height: 100%;
    overflow-y: auto;
  }
}
@media (max-width: 480px) {
  .header__menu-inner {
    min-height: calc(100vh - 113px);
  }
}
.header__nav {
  margin-right: 55px;
}
@media (max-width: 1470px) {
  .header__nav {
    margin: auto 0;
    padding-top: 24px;
    padding-bottom: 60px;
  }
}
@media (max-width: 720px) {
  .header__nav {
    margin: auto 0;
    padding-top: 24px;
    padding-bottom: 36px;
  }
}
.header__nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: 615px;
}
@media (max-width: 1470px) {
  .header__nav-list {
    align-items: flex-start;
    flex-direction: column;
    gap: 24px;
    width: 100%;
  }
}
.header__nav-link {
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
}
.header__rates {
  display: flex;
  align-items: center;
  gap: 19px;
  margin-right: 41px;
}
@media (max-width: 1470px) {
  .header__rates {
    margin-bottom: 30px;
  }
}
.header__rates-item {
  display: flex;
  align-items: center;
  gap: 6px;
  color: var(--white);
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
}
.header__rates-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 6px;
  width: 27px;
  height: 27px;
  background: rgba(255, 255, 255, 0.1);
}
.header__phone {
  gap: 12px;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
}
@media (max-width: 1470px) {
  .header__phone {
    gap: 13px;
    font-size: 23px;
  }
}
.header__phone-icon {
  width: 17px;
  height: 18px;
  flex-shrink: 0;
}
@media (max-width: 1470px) {
  .header__phone-icon {
    width: 24px;
    height: 24px;
  }
}
.header__btn {
  gap: 13px;
  margin-right: 13px;
  padding: 13px;
  width: 121px;
  min-height: 41px;
  font-size: 15px;
  font-weight: 500;
  line-height: normal;
}
@media (max-width: 1470px) {
  .header__btn {
    margin-left: auto;
    z-index: 100;
  }
}
@media (max-width: 480px) {
  .header__btn {
    gap: 4px;
    border-radius: 5px;
    margin-right: 9px;
    padding: 6px;
    width: 75px;
    min-height: 29px;
    font-size: 10px;
  }
}
.header__btn-icon {
  width: 15px;
  height: 15px;
  flex-shrink: 0;
}
@media (max-width: 480px) {
  .header__btn-icon {
    width: 10px;
    height: 10px;
  }
}
.header__theme-btn {
  width: 41px;
  height: 41px;
}
@media (max-width: 1470px) {
  .header__theme-btn {
    z-index: 100;
  }
}
@media (max-width: 480px) {
  .header__theme-btn {
    border-radius: 5px;
    width: 29px;
    height: 29px;
  }
}
.header__icon {
  width: 22px;
  height: 22px;
  flex-shrink: 0;
}
@media (max-width: 480px) {
  .header__icon {
    width: 15px;
    height: 15px;
  }
}

.burger {
  display: none;
}
@media (max-width: 1470px) {
  .burger {
    position: relative;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 13px;
    width: 30px;
    height: 24px;
    outline: 2px solid transparent;
    outline-offset: 2px;
    transition: outline-color 0.3s ease-in-out;
  }
  .burger:focus-visible {
    outline-style: solid;
    outline-width: 2px;
  }
  .burger:focus {
    outline-color: var(--white);
  }
  .burger:hover {
    outline-color: transparent;
  }
}
@media (max-width: 1470px) and (max-width: 480px) {
  .burger {
    width: 20px;
    height: 22px;
  }
}
@media (max-width: 1470px) {
  .burger--active .burger__line:first-child {
    position: absolute;
    left: 0;
    top: 50%;
    transform: rotate(45deg);
    transform-origin: center;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  }
  .burger--active .burger__line:last-child {
    position: absolute;
    bottom: auto;
    left: 0;
    top: 50%;
    width: 100%;
    transform: rotate(-45deg);
    transform-origin: center;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  }
  .burger--active .burger__line:nth-child(2) {
    transform: scale(0);
    transition: transform 0.3s ease-in-out;
  }
  .burger__line {
    width: 100%;
    height: 2px;
    background-color: var(--white);
    transition: background-color 0.3s ease-in-out;
  }
  .burger:hover .burger__line {
    background-color: var(--red);
  }
}

.footer {
  position: relative;
}
.footer__subscribe {
  border-radius: 15px;
  margin-bottom: 79px;
  padding: 116px 96px 26px;
  width: 100%;
  min-height: 529px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--light-gray);
  overflow: hidden;
}
@media (max-width: 1100px) {
  .footer__subscribe {
    margin-bottom: 60px;
    padding: 48px;
    min-height: auto;
  }
}
@media (max-width: 480px) {
  .footer__subscribe {
    padding: 34px;
  }
}
.footer__subscribe-title {
  margin-bottom: 16px;
  max-width: 400px;
  line-height: 35px;
}
@media (max-width: 480px) {
  .footer__subscribe-title {
    line-height: 30px;
  }
}
.footer__subscribe-text {
  margin-bottom: 46px;
  max-width: 365px;
  color: var(--white);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
@media (max-width: 480px) {
  .footer__subscribe-text {
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 20px;
  }
}
.footer__subscribe-links {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 113px;
}
@media (max-width: 480px) {
  .footer__subscribe-links {
    flex-wrap: wrap;
    gap: 13px;
  }
}
.footer__subscribe-link {
  border-radius: 9px;
  padding: 18px 16px 18px 24px;
  min-height: 54px;
  color: #1C1C1B;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  background-color: var(--white);
}
@media (max-width: 480px) {
  .footer__subscribe-link {
    padding: 15px 15px 12px 16px;
    min-height: 44px;
    font-size: 14px;
    line-height: normal;
  }
}
.footer__subscribe-link-icon {
  margin-right: 10px;
  width: 19px;
  height: 19px;
}
@media (max-width: 480px) {
  .footer__subscribe-link-icon {
    margin-right: 8px;
    width: 15px;
    height: 15px;
  }
}
.footer__subscribe-info {
  color: var(--white);
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}
.footer__top {
  position: relative;
  display: flex;
  padding-bottom: 52px;
}
@media (max-width: 1100px) {
  .footer__top {
    flex-direction: column;
    gap: 48px;
    padding-bottom: 36px;
  }
}
@media (max-width: 480px) {
  .footer__top {
    gap: 28px;
    padding-bottom: 32px;
  }
}
.footer__top::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, 0.3);
}
.footer__left {
  margin-right: 83px;
  padding-top: 3px;
}
@media (max-width: 1470px) {
  .footer__left {
    margin-right: 64px;
  }
}
@media (max-width: 480px) {
  .footer__left {
    margin-right: 0;
    padding-top: 0;
    text-align: center;
  }
}
.footer__logo-link {
  margin-bottom: 18px;
}
@media (max-width: 480px) {
  .footer__logo-link {
    display: inline-flex;
    width: 103px;
  }
}
.footer__logo {
  width: 100%;
}
.footer__text {
  margin-bottom: 52px;
  width: 427px;
  color: var(--white);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
@media (max-width: 1470px) {
  .footer__text {
    width: 320px;
  }
}
@media (max-width: 1100px) {
  .footer__text {
    margin-bottom: 36px;
    width: auto;
    max-width: 427px;
  }
}
@media (max-width: 720px) {
  .footer__text {
    margin-bottom: 24px;
  }
}
@media (max-width: 480px) {
  .footer__text {
    margin-bottom: 12px;
    line-height: 22px;
  }
}
.footer__subtitle {
  display: block;
  margin-bottom: 10px;
  color: var(--white);
  font-size: 16px;
  font-weight: 400;
  line-height: 36px;
}
@media (max-width: 480px) {
  .footer__left-subtitle {
    font-size: 14px;
    line-height: normal;
  }
}
.footer__social-list {
  display: flex;
  align-items: center;
  margin-top: 6px;
  gap: 11px;
}
@media (max-width: 480px) {
  .footer__social-list {
    justify-content: center;
    margin-top: 4px;
  }
}
.footer__social-link {
  flex-shrink: 0;
  border-radius: 50%;
  width: 33px;
  height: 33px;
  background-color: var(--red);
}
.footer__social-icon {
  width: 15px;
  height: 15px;
}
.footer__right {
  width: calc(100% - 510px);
}
@media (max-width: 1470px) {
  .footer__right {
    width: calc(100% - 384px);
  }
}
@media (max-width: 1100px) {
  .footer__right {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .footer__right {
    text-align: center;
  }
}
.footer__subtitle-block {
  position: relative;
  display: flex;
  align-items: center;
  gap: 172px;
  margin-bottom: 31px;
  padding-bottom: 24px;
}
@media (max-width: 1470px) {
  .footer__subtitle-block {
    gap: 64px;
  }
}
@media (max-width: 1100px) {
  .footer__subtitle-block {
    gap: 32px;
  }
}
@media (max-width: 480px) {
  .footer__subtitle-block {
    justify-content: center;
    margin-bottom: 22px;
    padding-bottom: 13px;
  }
}
.footer__subtitle-block::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, 0.3);
}
.footer__right-subtitle {
  width: 376px;
  color: var(--white);
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
}
@media (max-width: 720px) {
  .footer__right-subtitle:first-child {
    display: none;
  }
}
@media (max-width: 1470px) {
  .footer__right-subtitle {
    width: calc((100% - 64px) / 2);
  }
}
@media (max-width: 1100px) {
  .footer__right-subtitle {
    width: calc((100% - 32px) / 2);
  }
}
.footer__content-block {
  display: flex;
  gap: 172px;
}
@media (max-width: 1470px) {
  .footer__content-block {
    gap: 64px;
  }
}
@media (max-width: 1100px) {
  .footer__content-block {
    gap: 32px;
  }
}
.footer__nav {
  display: flex;
  width: calc((100% - 172px) / 2);
}
@media (max-width: 1470px) {
  .footer__nav {
    width: calc((100% - 64px) / 2);
  }
}
@media (max-width: 1100px) {
  .footer__nav {
    width: calc((100% - 32px) / 2);
  }
}
@media (max-width: 720px) {
  .footer__nav {
    display: none;
  }
}
.footer__nav-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 6px;
}
.footer__nav-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 36px;
}
.footer__contacts-block {
  width: calc((100% - 172px) / 2);
}
@media (max-width: 1470px) {
  .footer__contacts-block {
    width: calc((100% - 64px) / 2);
  }
}
@media (max-width: 1100px) {
  .footer__contacts-block {
    width: calc((100% - 32px) / 2);
  }
}
@media (max-width: 720px) {
  .footer__contacts-block {
    width: 100%;
  }
}
.footer__phone {
  margin-bottom: 22px;
  font-size: 28px;
  font-weight: 400;
  line-height: 36px;
}
@media (max-width: 480px) {
  .footer__phone {
    margin-bottom: 18px;
    font-size: 24px;
  }
}
.footer__item {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  margin-bottom: 22px;
}
@media (max-width: 480px) {
  .footer__item {
    margin-bottom: 18px;
  }
}
.footer__item-icon {
  width: 18px;
  height: 24px;
  flex-shrink: 0;
  fill: var(--red);
}
.footer__item-text {
  max-width: 332px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
@media (max-width: 480px) {
  .footer__item-text {
    text-align: left;
  }
}
.footer__btn {
  padding: 13px;
  width: 156px;
  min-height: 40px;
  font-size: 15px;
  font-weight: 400;
  line-height: 14px;
}
@media (max-width: 480px) {
  .footer__btn {
    display: inline-block;
  }
}
.footer__chat-btn {
  position: absolute;
  bottom: 170px;
  right: 40px;
  filter: drop-shadow(0px 11px 11px var(--red));
  outline-offset: 2px;
  outline: 2px solid transparent;
  transition: outline-color 0.3s ease-in-out;
}
.footer__chat-btn:focus-visible {
  outline: 2px solid transparent;
}
.footer__chat-btn:focus {
  outline-color: var(--white);
}
.footer__chat-btn:hover {
  outline-color: transparent;
}
@media (max-width: 1470px) {
  .footer__chat-btn {
    bottom: 125px;
    right: 20px;
  }
}
@media (max-width: 720px) {
  .footer__chat-btn {
    bottom: 175px;
    right: 40px;
  }
}
@media (max-width: 480px) {
  .footer__chat-btn {
    display: none;
  }
}
.footer__chat-btn-icon {
  width: 66px;
  height: 66px;
}
.footer__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 22px;
  padding-bottom: 44px;
  width: 100%;
}
@media (max-width: 1100px) {
  .footer__bottom {
    flex-wrap: wrap;
    gap: 14px;
  }
}
@media (max-width: 480px) {
  .footer__bottom {
    justify-content: center;
    padding-top: 14px;
  }
}
.footer__bottom-links {
  display: flex;
  align-items: center;
  gap: 34px;
}
@media (max-width: 480px) {
  .footer__bottom-links {
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px 9px;
  }
}
.footer__bottom-text {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
@media (max-width: 480px) {
  .footer__bottom-text {
    font-size: 11px;
  }
}
.footer__payment {
  display: flex;
  align-items: center;
  gap: 14px;
}
@media (max-width: 480px) {
  .footer__payment {
    flex-wrap: wrap;
    justify-content: center;
    gap: 9px;
  }
}
.footer__payment-logos {
  width: 190px;
}
.footer__development {
  display: flex;
  align-items: center;
  gap: 13px;
  padding-left: 7px;
}
@media (max-width: 720px) {
  .footer__development {
    padding-left: 0;
  }
}
@media (max-width: 480px) {
  .footer__development {
    flex-wrap: wrap;
    justify-content: center;
    gap: 9px;
  }
}
.footer__bottom-logo {
  width: 121px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  pointer-events: none;
}
.modal--open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
.modal__bg {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: var(--white);
}
@media (max-width: 720px) {
  .modal__bg {
    padding: 15px;
  }
}
.modal__body {
  position: relative;
  margin: auto;
  border-radius: 10px;
  padding: 40px;
  width: 500px;
  max-height: 100%;
  background: rgba(1, 87, 123, 0.95);
}
@media (max-width: 720px) {
  .modal__body {
    padding: 40px 24px;
    width: 400px;
  }
}
@media (max-width: 480px) {
  .modal__body {
    width: min(100%, 400px);
  }
}
.modal__close-btn {
  position: absolute;
  top: 48px;
  right: 24px;
  width: 24px;
  height: 24px;
  outline-offset: 2px;
  outline: 2px solid transparent;
  transition: outline-color 0.3s ease-in-out;
}
@media (max-width: 480px) {
  .modal__close-btn {
    width: 20px;
    height: 20px;
  }
}
.modal__close-btn svg {
  width: 100%;
  height: 100%;
  fill: var(--white);
  transition: fill 0.3s ease-in-out;
}
.modal__close-btn:focus-visible {
  outline: 2px solid transparent;
}
.modal__close-btn:focus {
  outline-color: var(--white);
}
.modal__close-btn:hover {
  outline-color: transparent;
}
.modal__close-btn:hover svg {
  fill: var(--red);
}
.modal__logo-link {
  margin-bottom: 48px;
}
@media (max-width: 720px) {
  .modal__logo-link {
    margin-bottom: 36px;
  }
}
.modal__form {
  width: 100%;
  text-align: center;
}
.modal__form-label {
  display: inline-block;
  margin-bottom: 24px;
  width: 100%;
}
@media (max-width: 1100px) {
  .modal__form-label {
    margin-bottom: 16px;
  }
}
.modal__form-input {
  padding: 10px 16px;
  width: 100%;
  height: 56px;
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
}
.modal__form-input::placeholder {
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
}
@media (max-width: 720px) {
  .modal__form-input {
    height: 52px;
  }
}
.modal__form-textarea {
  height: 150px;
  resize: none;
}
@media (max-width: 720px) {
  .modal__form-textarea {
    height: 150px;
  }
}
.modal__form-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  margin-top: 24px;
  width: 100%;
}
@media (max-width: 720px) {
  .modal__form-bottom {
    gap: 16px;
  }
}
@media (max-width: 480px) {
  .modal__form-bottom {
    flex-direction: column;
    margin-top: 12px;
  }
}
.modal__form-link {
  padding: 8px;
  width: calc((100% - 24px) / 2);
  min-height: 52px;
  font-size: 15px;
  font-weight: 500;
  line-height: normal;
  background: var(--red);
}
@media (max-width: 720px) {
  .modal__form-link {
    width: calc((100% - 16px) / 2);
    min-height: 48px;
  }
}
@media (max-width: 480px) {
  .modal__form-link {
    width: 100%;
  }
}
.modal__form-btn {
  padding: 8px;
  width: calc((100% - 24px) / 2);
  min-height: 52px;
  font-size: 15px;
  font-weight: 500;
  line-height: normal;
  background: var(--red);
}
@media (max-width: 720px) {
  .modal__form-btn {
    width: calc((100% - 16px) / 2);
    min-height: 48px;
  }
}
@media (max-width: 480px) {
  .modal__form-btn {
    width: 100%;
  }
}

.hero {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  min-height: 100vh;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: var(--primary);
}
@media (max-width: 1100px) {
  .hero {
    background-position: left 20% center;
  }
}
@media (max-width: 720px) {
  .hero {
    background-position: left 15% center;
  }
}
.hero__content {
  padding: 110px 15px;
  width: 100%;
  max-width: 1470px;
}
@media (max-width: 1100px) {
  .hero__content {
    padding-top: 320px;
    padding-bottom: 80px;
  }
}
@media (max-width: 720px) {
  .hero__content {
    padding-bottom: 50px;
  }
}
.hero__links {
  display: flex;
  align-items: center;
  min-height: 70px;
}
@media (max-width: 1470px) {
  .hero__links {
    flex-wrap: wrap;
  }
}
@media (max-width: 480px) {
  .hero__links {
    min-height: 48px;
  }
}
.hero__link {
  border: 2px solid var(--white);
  border-radius: 0;
  padding: 10px;
  width: 362px;
  font-size: 19px;
  font-weight: 700;
  line-height: 42px;
  text-transform: uppercase;
  background: transparent;
}
@media (max-width: 1470px) {
  .hero__link {
    width: 50%;
  }
}
@media (max-width: 720px) {
  .hero__link {
    width: 100%;
    font-size: 18px;
    line-height: 32px;
  }
}
@media (max-width: 480px) {
  .hero__link {
    font-size: 16px;
    line-height: 28px;
  }
}
.hero__link--active {
  color: #0C3442;
  background-color: var(--white);
}

.tours__container-fluid {
  padding-left: 0;
  padding-right: 0;
}
.tours__tabs {
  position: relative;
  margin-bottom: 66px;
  padding-bottom: 34px;
  text-align: center;
}
@media (max-width: 720px) {
  .tours__tabs {
    margin-bottom: 34px;
    padding-bottom: 24px;
  }
}
@media (max-width: 480px) {
  .tours__tabs {
    padding-bottom: 13px;
  }
}
.tours__tabs::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, 0.3);
}
.tours__tabs-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 90px;
}
@media (max-width: 720px) {
  .tours__tabs-btns {
    gap: 65px;
  }
}
@media (max-width: 480px) {
  .tours__tabs-btns {
    justify-content: space-around;
    gap: 5px;
  }
}
.tours__tabs-title {
  position: relative;
  padding-left: 39px;
}
.tours__tabs-title::after {
  display: none;
}
.tours__tabs-title::before {
  top: -25%;
  transform: none;
}
@media (max-width: 720px) {
  .tours__tabs-title {
    padding-left: 30px;
  }
}
@media (max-width: 480px) {
  .tours__tabs-title {
    padding-left: 26px;
  }
}
.tours__btn {
  border-radius: 10px;
  color: var(--white);
  font-size: 30px;
  font-weight: 800;
  line-height: 42px;
  outline-offset: 2px;
  outline: 2px solid transparent;
  transition: color 0.3s ease-in-out, outline-color 0.3s ease-in-out;
}
.tours__btn:focus-visible {
  outline: 2px solid transparent;
}
.tours__btn:focus {
  outline-color: var(--white);
}
.tours__btn:hover {
  color: var(--red);
  outline-color: transparent;
}
@media (max-width: 720px) {
  .tours__btn {
    font-size: 20px;
  }
}
@media (max-width: 480px) {
  .tours__btn {
    font-size: 16px;
  }
}
.tours__btn.tabs__btn--active {
  color: var(--red);
  outline-offset: 2px;
  outline: 2px solid transparent;
  transition: color 0.3s ease-in-out, outline-color 0.3s ease-in-out;
}
.tours__btn.tabs__btn--active:focus-visible {
  outline: 2px solid transparent;
}
.tours__btn.tabs__btn--active:focus {
  outline-color: var(--red);
}
.tours__btn.tabs__btn--active:hover {
  color: var(--white);
  outline-color: transparent;
}
.tours__btn.tabs__btn--active::after {
  content: "";
  position: absolute;
  top: calc(100% + 34px);
  left: -18%;
  display: block;
  width: 136%;
  height: 1px;
  background-color: var(--red);
}
@media (max-width: 720px) {
  .tours__btn.tabs__btn--active::after {
    top: calc(100% + 24px);
  }
}
@media (max-width: 480px) {
  .tours__btn.tabs__btn--active::after {
    top: calc(100% + 12px);
    left: 0;
    width: 100%;
  }
}
.tours__tab {
  display: none;
}
.tours__tab.tab--active {
  display: block;
  text-align: center;
}
.tours__tab-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 75px 50px;
  margin-bottom: 100px;
}
@media (max-width: 1470px) {
  .tours__tab-container {
    gap: 36px 24px;
    margin-bottom: 64px;
  }
}
@media (max-width: 1100px) {
  .tours__tab-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 32px 24px;
    margin-bottom: 48px;
  }
}
@media (max-width: 720px) {
  .tours__tab-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 32px 16px;
    margin-bottom: 36px;
  }
}
@media (max-width: 480px) {
  .tours__tab-container {
    grid-template-columns: 1fr;
    gap: 24px;
    margin-bottom: 32px;
  }
}
.tours__tab-card {
  width: 100%;
}
.tours__tab-card-img-block {
  position: relative;
  border-radius: 10px;
  margin-bottom: 19px;
  width: 100%;
  overflow: hidden;
}
.tours__tab-card-img-block img {
  width: 100%;
}
@media (max-width: 1470px) {
  .tours__tab-card-img-block img {
    max-height: 315px;
  }
}
@media (max-width: 1100px) {
  .tours__tab-card-img-block img {
    max-height: 260px;
  }
}
@media (max-width: 720px) {
  .tours__tab-card-img-block img {
    max-height: 220px;
  }
}
@media (max-width: 480px) {
  .tours__tab-card-img-block img {
    max-height: 216px;
    min-height: 160px;
  }
}
.tours__tab-card-sticker {
  position: absolute;
  bottom: 13px;
  left: 10px;
  border-radius: 3px;
  padding: 4px 8px;
  width: 190px;
  min-height: 27px;
  color: var(--white);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  background: var(--red);
}
.tours__tab-card-title {
  max-width: 276px;
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  text-align: left;
}
@media (max-width: 720px) {
  .tours__tab-card-title {
    line-height: 22px;
  }
}
@media (max-width: 480px) {
  .tours__tab-card-title {
    font-size: 14px;
    line-height: normal;
  }
}
.tours__tabs-link {
  display: inline-flex;
  width: 242px;
  min-height: 52px;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  background: var(--red);
}
.tours__tabs-link:hover {
  background: var(--white);
}

.reports__container-fluid {
  padding-right: max(15px, (100% - 1440px) / 2);
}
@media (max-width: 1100px) {
  .reports__container-fluid {
    padding-right: 0;
  }
}
.reports__title {
  position: relative;
  margin-bottom: 7px;
  padding-left: 106px;
}
@media (max-width: 480px) {
  .reports__title {
    margin-bottom: 14px;
  }
}
.reports__text {
  margin-bottom: 40px;
  padding-left: 106px;
  color: var(--white);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
@media (max-width: 720px) {
  .reports__text {
    margin-bottom: 18px;
    padding-left: 0;
  }
}
@media (max-width: 480px) {
  .reports__text {
    font-size: 14px;
    line-height: 24px;
  }
}
.reports__btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 34px;
  margin-bottom: 43px;
}
@media (max-width: 1470px) {
  .reports__btns {
    flex-wrap: wrap;
  }
}
@media (max-width: 480px) {
  .reports__btns {
    gap: 15px;
    margin-bottom: 36px;
  }
}
.reports__list {
  display: flex;
  align-items: center;
  gap: 14px;
}
.reports__btn {
  padding: 12px 20px;
  min-height: 43px;
  background: rgba(255, 255, 255, 0.2);
}
.reports__btn--active {
  background: var(--red);
}
@media (max-width: 1470px) {
  .reports__btn {
    padding: 12px;
  }
}
@media (max-width: 1100px) {
  .reports__btn {
    padding: 12px 20px;
  }
}
.reports__swiper {
  margin: 0;
  padding: 4px;
}
@media (max-width: 1470px) {
  .reports__swiper {
    padding-left: 0;
  }
}
.reports__swiper-wrapper {
  justify-content: space-between;
  gap: 14px;
}
@media (max-width: 1100px) {
  .reports__swiper-wrapper {
    gap: 0;
  }
}
.reports__swiper-slide {
  width: auto;
}
.reports__cards-block {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 216px;
  grid-auto-flow: dense;
  gap: 30px 35px;
  justify-content: space-between;
  margin-bottom: 75px;
}
@media (max-width: 1470px) {
  .reports__cards-block {
    gap: 24px;
  }
}
@media (max-width: 1100px) {
  .reports__cards-block {
    grid-auto-rows: auto;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 720px) {
  .reports__cards-block {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    margin-bottom: 60px;
  }
}
@media (max-width: 480px) {
  .reports__cards-block {
    grid-template-columns: 1fr;
    margin-bottom: 40px;
  }
}
.reports__card {
  position: relative;
  border-radius: 10px;
  width: 100%;
  height: 216px;
  background-color: var(--light-gray);
  overflow: hidden;
}
@media (max-width: 1100px) {
  .reports__card {
    height: auto;
    min-height: 200px;
  }
}
@media (max-width: 480px) {
  .reports__card {
    min-height: 160px;
    aspect-ratio: 450/216;
  }
}
.reports__card picture, .reports__card img {
  width: 100%;
  height: 100%;
}
.reports__card:nth-child(3), .reports__card:nth-child(7), .reports__card:nth-child(13), .reports__card:nth-child(17) {
  grid-row: span 2;
  height: 462px;
}
@media (max-width: 1470px) {
  .reports__card:nth-child(3), .reports__card:nth-child(7), .reports__card:nth-child(13), .reports__card:nth-child(17) {
    height: auto;
  }
}
@media (max-width: 480px) {
  .reports__card:nth-child(3), .reports__card:nth-child(7), .reports__card:nth-child(13), .reports__card:nth-child(17) {
    aspect-ratio: 450/216;
  }
}
.reports__more-btn {
  border: 1px dashed var(--white);
  margin: 0 auto;
  width: 204px;
  min-height: 50px;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

.video__container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  background-color: var(--dark);
  overflow: hidden;
}
.video__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: var(--white);
}
.video__bg img {
  width: 100%;
  height: 100%;
}
.video__bg--hidden {
  display: none;
}
.video__body {
  max-width: 333px;
  width: 100%;
}
@media (max-width: 1100px) {
  .video__body {
    max-width: 405px;
  }
}
@media (max-width: 720px) {
  .video__body {
    max-width: 333px;
  }
}
@media (max-width: 480px) {
  .video__body {
    max-width: 405px;
  }
}
.video__content {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
}
.video__iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.video__play-btn {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50.8%;
  width: 21px;
  height: 21px;
  outline-offset: 10px;
  outline: 2px solid transparent;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 0.3s ease-in-out, outline-color 0.3s ease-in-out;
}
.video__play-btn svg {
  width: 100%;
  height: 100%;
}
.video__play-btn--hidden {
  display: none;
}
.video__play-btn:focus-visible {
  outline-style: solid;
}
.video__play-btn:focus {
  outline-color: var(--white);
}
.video__play-btn:hover {
  transform: translate(-50%, -50%) scale(1.2);
}

.none {
  display: none;
}

.info__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 80px;
  justify-content: space-between;
}
@media (max-width: 1470px) {
  .info__container {
    gap: 36px;
  }
}
@media (max-width: 1100px) {
  .info__container {
    grid-template-columns: repeat(2, 1fr);
    gap: 70px 36px;
  }
}
@media (max-width: 720px) {
  .info__container {
    grid-template-columns: 1fr;
    gap: 70px 24px;
  }
}
.info__title {
  position: relative;
  margin-bottom: 52px;
  padding-left: 80px;
}
@media (max-width: 720px) {
  .info__title {
    padding-left: 101px;
  }
}
@media (max-width: 480px) {
  .info__title {
    margin-bottom: 42px;
  }
}
.info__title::after {
  left: 0px;
  width: 59px;
}
@media (max-width: 720px) {
  .info__title::after {
    left: 37px;
    width: 52px;
  }
}
.info__title::before {
  top: -50%;
  transform: none;
}
@media (max-width: 720px) {
  .info__title::before {
    top: 0;
  }
}
.info__card {
  display: flex;
  flex-direction: column;
  min-height: 500px;
}
@media (max-width: 1470px) {
  .info__card {
    min-height: 490px;
  }
}
@media (max-width: 1100px) {
  .info__card {
    min-height: 460px;
  }
}
@media (max-width: 720px) {
  .info__card {
    min-height: auto;
  }
}
.info__card-img-block {
  position: relative;
  border-radius: 10px;
  margin-bottom: 24px;
  width: 100%;
  height: 285px;
  background: rgba(255, 255, 255, 0.2);
}
@media (max-width: 1470px) {
  .info__card-img-block {
    aspect-ratio: 456/285;
    height: auto;
  }
}
@media (max-width: 1100px) {
  .info__card-img-block {
    aspect-ratio: 0;
    height: clamp(210px, 4.836rem + 18.42vw, 280px);
  }
}
@media (max-width: 720px) {
  .info__card-img-block {
    height: 222px;
  }
}
@media (max-width: 480px) {
  .info__card-img-block {
    margin-bottom: 15px;
  }
}
.info__card-img {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: fit-content;
}
@media (max-width: 1470px) {
  .info__card-img {
    left: 50%;
    transform: translateX(-50%);
  }
}
.info__card-img-1, .info__card-img-2 {
  width: 429px;
  height: 309px;
}
@media (max-width: 1470px) {
  .info__card-img-1, .info__card-img-2 {
    width: calc((100vw - 102px) / 3);
    height: auto;
  }
}
@media (max-width: 1100px) {
  .info__card-img-1, .info__card-img-2 {
    width: calc((100vw - 66px) / 2);
  }
}
@media (max-width: 720px) {
  .info__card-img-1, .info__card-img-2 {
    width: 360px;
  }
}
@media (max-width: 480px) {
  .info__card-img-1, .info__card-img-2 {
    width: min(360px, 100%);
  }
}
.info__card-img-3 {
  width: 461px;
  height: 285px;
}
@media (max-width: 1470px) {
  .info__card-img-3 {
    width: calc((100vw - 102px) / 3);
    height: auto;
  }
}
@media (max-width: 1100px) {
  .info__card-img-3 {
    width: calc((100vw - 66px) / 2);
  }
}
@media (max-width: 720px) {
  .info__card-img-3 {
    width: 360px;
  }
}
@media (max-width: 480px) {
  .info__card-img-3 {
    width: min(360px, 100%);
    bottom: 12px;
  }
}
.info__card-text {
  margin-bottom: 24px;
  color: var(--white);
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
}
@media (max-width: 480px) {
  .info__card-text {
    font-size: 14px;
    line-height: 23px;
  }
}
.info__card-link {
  margin-top: auto;
  padding: 12px;
  width: 178px;
  min-height: 46px;
  font-size: 15px;
  font-weight: 500;
  line-height: normal;
}
@media (max-width: 480px) {
  .info__card-link {
    margin-top: 24px;
    min-height: 43px;
  }
}
.info__card-bottom {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-top: auto;
}
@media (max-width: 480px) {
  .info__card-bottom {
    margin-top: 24px;
  }
}
.info__card-service-link {
  width: 120px;
}
@media (max-width: 480px) {
  .info__card-service-link {
    margin-top: 0;
    width: 94px;
  }
}
.info__card-btn {
  width: 164px;
  min-height: 46px;
  font-size: 15px;
  font-weight: 500;
  line-height: normal;
  background: var(--red);
}
@media (max-width: 480px) {
  .info__card-btn {
    min-height: 43px;
  }
}

.reviews__title {
  position: relative;
  margin-bottom: 15px;
  padding-left: 106px;
}
.reviews__text {
  padding-left: 106px;
  color: var(--white);
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 720px) {
  .reviews__text {
    padding-left: 0;
  }
}
@media (max-width: 480px) {
  .reviews__text {
    font-size: 14px;
    line-height: 24px;
  }
}
.reviews__swiper-slide {
  width: auto;
  height: auto;
}
.reviews__card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 33px 28px 47px 43px;
  min-height: 324px;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 24px 94px 0px rgba(0, 0, 0, 0.1);
}
@media (max-width: 480px) {
  .reviews__card {
    padding: 21px 28px 32px 28px;
  }
}
.reviews__card-text {
  margin-bottom: 32px;
  max-width: 556px;
  color: var(--white);
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
}
@media (max-width: 720px) {
  .reviews__card-text {
    max-width: 380px;
  }
}
@media (max-width: 480px) {
  .reviews__card-text {
    max-width: 243px;
    font-size: 14px;
    line-height: 22px;
  }
}
.reviews__card-bottom {
  display: flex;
  align-items: center;
  gap: 17px;
  margin-top: auto;
}
@media (max-width: 480px) {
  .reviews__card-bottom {
    gap: 12px;
  }
}
.reviews__card-img-block {
  border-radius: 50%;
  width: 62px;
  height: 62px;
  overflow: hidden;
}
@media (max-width: 480px) {
  .reviews__card-img-block {
    width: 44px;
    height: 44px;
  }
}
.reviews__card-author {
  display: block;
  margin-bottom: 1px;
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
}
@media (max-width: 480px) {
  .reviews__card-author {
    font-size: 14px;
    line-height: normal;
  }
}
.reviews__card-section {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
}
@media (max-width: 480px) {
  .reviews__card-section {
    font-size: 12px;
    line-height: normal;
  }
}
.reviews__card-section-name {
  color: var(--red);
}
.reviews__swiper-top {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 40px;
  margin-bottom: 61px;
  padding-right: max(15px, 100% - 1440px);
  min-height: 33px;
}
.reviews__swiper-top .swiper-btns {
  padding-top: 3px;
  padding-bottom: 3px;
}
@media (max-width: 720px) {
  .reviews__swiper-top .swiper-btns {
    display: none;
  }
}
@media (max-width: 720px) {
  .reviews__swiper-top {
    margin-bottom: 32px;
    min-height: auto;
  }
}
@media (max-width: 480px) {
  .reviews__swiper-top {
    margin-bottom: 24px;
  }
}
.reviews__swiper-bottom {
  display: none;
}
@media (max-width: 720px) {
  .reviews__swiper-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
  }
}

.blog__container-fluid {
  padding-right: max(15px, (100% - 1440px) / 2);
}
@media (max-width: 1470px) {
  .blog__container-fluid {
    padding-right: 0;
  }
}
.blog__title {
  position: relative;
  margin-bottom: 15px;
  padding-left: 106px;
}
.blog__swiper-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  margin-bottom: 64px;
  min-height: 50px;
}
@media (max-width: 1470px) {
  .blog__swiper-top {
    padding-right: 15px;
  }
}
@media (max-width: 720px) {
  .blog__swiper-top {
    margin-bottom: 32px;
    min-height: auto;
  }
}
@media (max-width: 480px) {
  .blog__swiper-top {
    margin-bottom: 26px;
  }
}
.blog__text {
  padding-left: 106px;
  color: var(--white);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
@media (max-width: 720px) {
  .blog__text {
    padding-left: 0;
  }
}
@media (max-width: 480px) {
  .blog__text {
    font-size: 14px;
    line-height: 24px;
  }
}
.blog__swiper-top-block {
  display: flex;
  align-items: center;
  gap: 35px;
  padding-top: 3px;
  padding-bottom: 3px;
}
@media (max-width: 1100px) {
  .blog__swiper-top-block .swiper-btns {
    display: none;
  }
}
.blog__link {
  padding: 12px;
  width: 174px;
  min-height: 50px;
  font-size: 15px;
  font-weight: 500;
  line-height: normal;
}
@media (max-width: 720px) {
  .blog__link {
    display: none;
  }
}
.blog__swiper-slide {
  width: auto;
  height: auto;
}
.blog__card {
  display: flex;
  flex-direction: column;
  max-width: 318px;
  min-height: 421px;
  padding-bottom: 4px;
}
@media (max-width: 480px) {
  .blog__card {
    max-width: 238px;
    min-height: 340px;
  }
}
.blog__card-img-block {
  border-radius: 10px;
  margin-bottom: 24px;
  width: 318px;
  height: 223px;
  background-color: var(--light-gray);
  overflow: hidden;
}
@media (max-width: 480px) {
  .blog__card-img-block {
    margin-bottom: 16px;
    width: 238px;
    height: 168px;
  }
}
.blog__date-block {
  display: flex;
  align-items: center;
  gap: 9px;
  margin-bottom: 18px;
}
@media (max-width: 480px) {
  .blog__date-block {
    gap: 5px;
    margin-bottom: 11px;
  }
}
.blog__calendar {
  width: 15px;
  height: 15px;
  fill: var(--white);
  fill-opacity: 0.5;
}
@media (max-width: 480px) {
  .blog__calendar {
    width: 11px;
    height: 11px;
  }
}
.blog__card-date {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}
.blog__card-title {
  display: -webkit-box;
  margin-bottom: 12px;
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
@media (max-width: 480px) {
  .blog__card-title {
    font-size: 14px;
    line-height: 22px;
  }
}
.blog__card-link {
  margin-top: auto;
  padding: 12px;
  width: 109px;
  min-height: 42px;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
}
.blog__card-link--active {
  background: var(--red);
}
/*# sourceMappingURL=main.css.map */
