include ../../mixins/accordion.pug

-
  const pricesAc = [
    {
      header: 'Быстрый старт',
      title: 'Пробное погружение с аквалангом (PADI Discover Scuba Diving)',
      list: [
        {
          title: 'Пробное погружение в бассейне',
          text: 'Одно погружение с инструктором',
          price: '3 900 ₽',
        },
        {
          title: 'Пробное погружение в "Крокус Сити Океанариуме"',
          text: 'Два погружения с инструктором: первое учебное в бассейне, второе в океанариуме. Стоимость зависит от времени и дня недели погружения',
          price: '11 400 - 13 400 ₽',
        },
        {
          title: 'Пробное погружение в "Москвариуме"',
          text: 'Два погружения с инструктором: первое учебное в бассейне, второе в океанариуме. Стоимость зависит от времени и дня недели погружения',
          price: '11 400 - 13 400 ₽',
        },
        {
          title: 'Пробное погружение в Подмосковье',
          text: 'Включает услуги инструктора, полный комплект снаряжения для дайвинга, пользование инфраструктурой дайв-центра',
          price: '5 000 ₽',
        },
        {
          title: 'Дополнительное занятие с инструктором (индивидуально)',
          text: 'Дополнительное занятие в бассейне с инструктором (индивидуально)',
          price: '3 000 ₽',
        },
        {
          title: 'Консультация психолога',
          text: 'Боязнь воды, страхи, мешающие обучению дайвингу и др. Продолжительность 1 час',
          price: '3 000 ₽',
        },
      ],
    },
    {
      header: 'Начальный курс дайвинга',
      title: 'Open Water Diver',
      list: [
        {
          title: 'Тариф "Дневной" (занятия по будням днём, группа от 5 человек)',
          text: '4 лекции + 5 тренировок в бассейне + 3 уникальных занятия онлайн (психологический тренинг для дайверов, лекция про опасных морских животных, лекция по географии дайвинга и окружающей среде), Referral Card. Учебные материалы не входят в стоимость тарифа и оплачиваются отдельно',
          price: '15 500 ₽',
        },
        {
          title: 'Тариф "Стандартный" (занятия по будням вечером или в выходные, в группе 3-4 человека)',
          text: '4 лекции + теоретический экзамен + 5 тренировок в бассейне + 3 уникальных занятия онлайн (психологический тренинг для дайверов, лекция про опасных морских животных, лекция по географии дайвинга и окружающей среде), учебные материалы, Referral Card',
          price: '25 500 ₽',
        },
        {
          title: 'Тариф "Парный" (индивидуальный график для двоих)',
          text: '4 лекции + теоретический экзамен + 5 тренировок в бассейне + 3 уникальных занятия онлайн (психологический тренинг для дайверов, лекция про опасных морских животных, лекция по географии дайвинга и окружающей среде). Индивидуальный график, Referral Card, учебные материалы. Указанная стоимость за одного человека',
          price: '28 500 ₽',
        },
        {
          title: 'Тариф "Индивидуальный" (индивидуальный график для одного курсанта)',
          text: '4 лекции + теоретический экзамен + 5 тренировок в бассейне + 3 уникальных занятия онлайн (психологический тренинг для дайверов, лекция про опасных морских животных, лекция по географии дайвинга и окружающей среде). Индивидуальный график, Referral Card, учебные материалы',
          price: '35 500 ₽',
        },
        {
          title: 'Ваш личный инструктор по дайвингу в дайвинг-путешествии',
          text: 'Вы можете выбрать инструктора для индивидуального сопровождения в путешествии. Уровень вашей дайвинг-подготовки не имеет значения. Вы будете погружаться под его руководством и проходить дайвинг-курсы в индивидуальном режиме.',
          price: '1500 у. е.',
        },
      ],
    },
    {
      header: 'Занятие с инструктором с целью освежить свои навыки по дайвингу "Вспомнить всё"',
      title: 'PADI Reactivate (Scuba Review)',
      list: [
        {
          title: 'PADI Reactivate (Scuba Review)',
          text: 'Программа для сертифицированных аквалангистов после длительного перерыва в погружениях, одно занятие с инструктором в бассейне. С 10-летнего возраста.',
          price: '3 900 ₽',
        },
      ],
    },
    {
      header: 'Продолжение обучения после PADI OWD, вторая ступень вашего дайвинг-мастерства',
      title: 'Продвинутый курс по дайвингу (PADI Advanced Open Water Diver)',
      list: [
        {
          title: 'В Подмосковье (30 км от Москвы, по выходным. Для вашей безопасности на одного инструктора приходится не больше двух курсантов во время погружений)',
          text: 'Лекции + учебник + погружения в Подмосковье + аренда снаряжения (аренда сухого костюма оплачивается дополнительно)',
          price: '23 500 ₽',
        },
        {
          title: 'На море',
          text: 'Лекции + учебник + погружения на море',
          price: '17 500 ₽',
        },
        {
          title: 'Курс первой помощи Emergency First Response (EFR)',
          text: 'Включено: лекционно-практическое занятие (общее время в среднем 8 часов), учебник EFR',
          price: '14 500 ₽',
        },
      ],
    },
    {
      header: 'Третья ступень вашего дайвинг-мастерства. Курс "Дайвер-спасатель"',
      title: 'Rescue Diver',
      list: [
        {
          title: 'Стандартный',
          text: 'Включено: 5 блоков теории, 2-3 занятия в бассейне, учебник PADI, карманная маска для оказания первой помощи, упражнения на открытой воде',
          price: '37 500 ₽',
        },
      ],
    },
    {
      header: 'Высшая ступень любительского дайвинга. PADI Master Scuba Diver',
      title: 'PADI Master Scuba Diver',
      list: [
        {
          title: 'Стандарт',
          text: 'Для получения статуса достаточно квалификации PADI Rescue Diver, сертификации по пяти любым специализациям и 50 зарегистрированных погружений. Оформим для вас в офисе RuDIVE в любое время. ',
          price: '0 ₽',
        },
      ],
    },
    {
      header: 'Первая профессиональная ступень в дайвинге. PADI Divemaster',
      title: 'PADI Divemaster',
      list: [
        {
          title: 'Курс',
          text: 'Включено: 12-14 лекций, 12-14 занятий в бассейне. Не включено: интернатура, членский взнос PADI, материалы PADI',
          price: '42 500 ₽',
        },
        {
          title: 'Практика в открытой воде в поездках с RuDIVE',
          text: 'Включено: работа инструктора в течение недели с дайвмастером. Ассистирование на курсах, кураторство, проведение необходимых погружений. Не включено: стоимость поездки',
          price: '19 500 ₽',
        },
        {
          title: 'Полный комплект материалов к курсу PADI Divemaster ',
          text: 'Учебник PADI Divemaster и форма-заявление с голографической наклейкой, энциклопедия любительского дайвинга PADI, рабочая тетрадь по теории дайвинга, руководство для инструктора PADI печатная версия, дополнительно электронный планировщик RDP',
          price: '25 000 ₽',
        },
      ],
    },
    {
      header: 'Дополнительные курсы по дайвингу, расширяющие ваши возможности',
      title: 'Погружения с судов (PADI Boat Diver)',
      list: [
        {
          title: 'В Подмосковье',
          text: '1 лекция + 2 погружения в Подмосковье + учебник',
          price: '12 500 ₽',
        },
        {
          title: 'На море',
          text: '1 лекция + 2 погружения в море',
          price: '9 500 ₽',
        },
      ],
    },
    {
      header: 'Подводная фотография и видеосъемка',
      title: 'Стандарт',
      list: [
        {
          title: 'Начальный курс подводной фотографии',
          text: '3 лекционно-практических занятия, одно занятие в бассейне, учебник',
          price: '15 000 ₽',
        },
        {
          title: 'Подводный видеооператор',
          text: '3 лекции, 3 погружения',
          price: '18 000 ₽',
        },
      ],
    },
    {
      header: 'Погружения без акваланга на задержке дыхания. Фридайвинг',
      title: 'Разовая тренировка в бассейне',
      list: [
        {
          title: 'В дайв-центре на Лодочной',
          text: 'Бассейн на севере Москвы',
          price: '1 500 ₽',
        },
        {
          title: 'В дайв-центре "Азовский"',
          text: 'Бассейн на юге Москвы',
          price: '1 900 ₽',
        },
      ],
    },
    {
      header: 'Выгодное предложение. Курс-пакеты.',
      title: 'При единовременной покупке двух и более курсов вы получаете скидку 10% (без учета материалов и сертификатов)',
      list: [
        {
          title: 'Продвинутый курс PADI AOWD + курс погружений в сухом костюме PADI Dry Suit Diver',
          text: 'В курс-пакет входит: 4 лекции, 1 погружение в бассейне, 6 погружений в Подмосковье, 2 учебника, аренда сухого костюма во время обучения',
          price: '38 000 ₽',
        },
        {
          title: 'Курс "Дайвер-спасатель" PADI Rescue Diver + курс первой помощи EFR',
          text: '2 практических занятия, 5 лекций, 10 упражнений в открытой воде + учебники',
          price: '45 500 ₽',
        },
        {
          title: 'Курс погружений в сухом костюме PADI Dry Suit + курс подледных погружений PADI Ice Diver',
          text: 'Лекции, учебник курса Dry Suit, практика в бассейне, погружения на открытой воде и под лед, аренда дайвинг-оборудования',
          price: '36 000 ₽',
        },
      ],
    },
    {
      header: 'Детский дайвинг (PADI)',
      title: 'Курсы подводного плавания для детей',
      list: [
        {
          title: 'Знакомство с аквалангом. Программа Bubblemaker',
          text: 'Для детей 8-10 лет, три двухчасовых занятия в бассейне',
          price: '13 500 ₽',
        },
        {
          title: 'Индивидуальное занятие',
          text: 'Для детей 8-10 лет, двухчасовое занятие в бассейне',
          price: '4 500 ₽',
        },
        {
          title: 'Курс погружений на задержке дыхания "Собиратели жемчуга"',
          text: 'Для детей с 8 лет. 2 лекции и 4 практических занятия в бассейне',
          price: '25 500 ₽',
        },
        {
          title: 'Начальный курс дайвинга PADI Junior Open Water Diver',
          text: 'Для детей с 10 лет: 6 лекций, 6 погружений в бассейне',
          price: '27 500 ₽',
        },
      ],
    },
    {
      header: 'Стань профессионалом',
      title: 'Стандарт',
      list: [
        {
          title: 'PADI Instructor Development Course',
          text: 'Инструкторский курс для дайв-мастеров и инструкторов других федераций. Включено: занятия теорией, практика в бассейне, практика на открытой воде в Подмосковье. Инструкторские материалы и экзамен оплачиваются отдельно',
          price: '82 500 ₽',
        },
      ],
    },
    {
      header: 'Технический дайвинг',
      title: 'Стандарт',
      list: [
        {
          title: 'PADI Discover Tec',
          text: 'Включено: теоретическая часть, пробное техническое погружение в бассейне, аренда технического снаряжения.',
          price: '5 000 ₽',
        },
        {
          title: 'PADI Tec Basic',
          text: 'Включено: теоретические занятия, 2 практики в бассейне, 2 погружения в открытой воде.',
          price: '33 500 ₽',
        },
        {
          title: 'PADI Tec Basic плюс',
          text: 'Включено: теоретические занятия, 2 практики в бассейне, 4 погружения в открытой воде.',
          price: '37 500 ₽',
        },
      ],
    },
    {
      header: 'Дайвинг в пещерах*',
      title: '*Обращаем ваше внимание, что перед поступлением на курсы пещерного дайвинга инструктор проводит индивидуальное теоретическое и практическое занятие в бассейне (4-5 часов) с кандидатом, направленное на оценку навыков подводного плавания, и в дальнейшем согласовывает необходимость дополнительных занятий для оттачивания навыков плавучести перед прохождением курсов пещерного дайвинга. Эти занятия оплачиваются отдельно и их количество зависит от базового уровня кандидата. Стоимость одного занятия с инструктором (4-5 часов) 7000 рублей.',
      list: [
        {
          title: 'PADI Cavern Diver + Intro to Cave Diver',
          text: 'Включено: 5 дней и один день в резерве при поездке к пещере на неделю. Дополнительно оплачиваются все накладные расходы инструктора и свои. Возможно индивидуальное участие, в паре, в тройке. Накладные расходы инструктора делятся соответственно между участниками курса. Оплачивается дополнительно: аренда снаряжения при необходимости (как правило, курсанты погружаются в своем снаряжении), сертификаты, учебные материалы (по желанию), выезд на открытую воду.',
          price: '60 500 ₽',
        },
        {
          title: 'Full Cave Diver',
          text: 'Включено: 6 часов теории (2 занятия), четыре дня погружений в открытой воде (8 погружений в надголовной среде). Не включено: аренда снаряжения, сертификат, учебные материалы, выезд на открытую воду',
          price: '55 000 ₽',
        }
      ],
    },
    {
      header: 'Дайвинг с использованием ребризера',
      title: 'Всё включено',
      list: [
        {
          title: 'Первое погружение в ребризером PADI Discover Rebreather.',
          text: 'Продолжительность программы 1 день. Включено: 2 теоретических занятия (сведения по эксплуатации ребризера и инструктаж + 1 погружение в закрытой воде (бассейн), аренда всего оборудования и расходных материалов.',
          price: '8 000 ₽',
        },
        {
          title: 'PADI Rebreather Qualifier',
          text: 'Продолжительность от двух дней (при желании растянуть курс на большее количество дней, стоимость курса увеличится соответственно на стоимость дополнительной аренды оборудования). Включено: 4 теоретических занятия + 1 погружение в закрытой воде (бассейн) + 3 погружения в открытой воде, аренда всего оборудования и расходных материалов.',
          price: '30 900 ₽',
        },
      ],
    },
    {
      header: 'Авторские мастер-классы',
      title: 'Разные направления',
      list: [
        {
          title: 'Начальный курс подводной фотографии А. Аристархова',
          text: '5 лекций + 5 практических занятий в воде',
          price: '21 000 ₽',
        },
        {
          title: 'Авторская программа Н. Бараночниковой по нейтральной плавучести',
          text: '25 часов теории и практики в бассейне, съемка каждого занятия и разбор видео',
          price: '35 000 ₽',
        },
      ],
    },
    {
      header: 'Сертификат и пропуск в бассейн',
      title: 'Пропуск в бассейн для сертифицированного дайвера (С предоставлением снаряжения)',
      list: [
        {
          title: 'В дайв-центре на Лодочной',
          text: 'Бассейн на севере Москвы',
          price: '1 700 ₽',
        },
        {
          title: 'В дайв-центре "Азовский"',
          text: 'Бассейн на юге Москвы',
          price: '1 500 ₽',
        },
      ],
    },
  ];

.prices.section-bottom
  .container
    +accordion('prices', pricesAc, true)
