include ../../mixins/text.pug

-
  const aboutText = [
    'Подводное плавание и путешествия для всей команды RuDIVE уже не просто вид активного отдыха и спорта и даже не стиль жизни — это сама жизнь. Мы всегда ставили и ставим интересы клиентов превыше всего — и если наши любимые дайверы и туристы довольны, значит, мы работали не зря. Именно это определяет и разнообразие туристических программ, и качество обучения, и уровень безопасности.',
    'В основе деятельности группы компаний RuDIVE лежат международные стандарты качества. Дайвинг-центры и школы работают по стандартам ISO, PADI и ГОСТ. Туристическая компания «Акваланг Трэвел» стала первым официальным туроператором в сфере дайвинг-туризма в едином реестре туроператоров РФ. За высокий уровень обучения и туризма группа RuDIVE имеет множество наград и дипломов от международных федераций, операторов и государственных структур.',
    'Мы всегда рады видеть вас в наших дайв-центрах, турагентствах, бассейнах, поездках, на клубных вечерах, кораблях, праздниках и, конечно, на наших сайтах. Пишите, звоните, приезжайте — помните, что везде, где есть дайв-центры и офисы RuDIVE, вам и вашим друзьям будут очень рады. Увидимся!',
  ];

section.section-top.about
  .container
    .about__container
      h2.second-title.numbered-title.about__title.about__title--top С годами дайвинг становится для нас только интереснее и притягательнее
      .about__inner
        .about__img-block
          picture
            source(srcset='./images/about/about.webp, ./images/about/about@2x.webp 2x', type="image/webp")
            img(src='./images/about/about.jpg', srcset='./images/about/about@2x.jpg 2x', alt="Фото" loading="lazy")
        h2.second-title.numbered-title.about__title.about__title--bottom С годами дайвинг становится для нас только интереснее и притягательнее
        +text('about', aboutText, false)
