include ../../mixins/accordion.pug

-
  const deedsAc = [
    {
      header: 'Многочисленные и регулярные занятия с детьми',
      text: [
        'Для полного торжества зла на земле нужно только одно — чтобы хорошие люди ничего не делали. Руководствуясь этим известным изречением, группа RuDIVE ориентирована на добрые дела, на несение пользы природе и людям. Даже наша основная производственная деятельность приносит радость дайвинга и познания мира, яркие впечатления, позитив и дружбу всем причастным. Многочисленные и регулярные занятия с детьми формируют у них бережное отношение к подводному миру и природе вообще.',
      ]
    },
    {
      header: 'Дайверские субботники по очистке водоемов от мусора',
      text: [
        'Начиная с 2002 года, ежегодно проводятся массовые дайверские субботники по очистке водоемов от мусора. На эти трудовые праздники приезжают все неравнодушные дайверы, причем участвуют в очистке целыми семьями с детьми. За 21 год со дна и берегов московских и подмосковных водоемов, в Индийском океане и в Красном море рудайверами собрано и вывезено более тридцати пяти тонн разнообразного мусора.',
      ]
    },
    {
      header: 'Социальная реабилитация людей с ограниченными возможностями при помощи дайвинга.',
      text: [
        'Отдельный вид деятельности RuDIVE — социальная реабилитация людей с ограниченными возможностями при помощи дайвинга. Чтобы делать это профессионально, группа инструкторов RuDIVE в 2010 году прошла подготовку и получила статус инструкторов международной федерации HSA — Handicapped Scuba Association. За тринадцать лет работы они принесли много радости подросткам и взрослым с отклонениями в развитии и серьезными проблемами в здоровье. По итогам этой деятельности были изданы фотокниги и сделан документальный фильм.',
      ]
    },
  ];

section.section.deeds
  .container
    h3.third-title.numbered-title.deeds__title Добрые дела
    +accordion('deeds', deedsAc)
