include ../../mixins/text.pug
include ../../mixins/slider.pug
include ../../mixins/slider-btns.pug

-
  const moskvariumText = [
    'А летом 2020 – дайв-центр в "Москвариуме" на ВДНХ, где живут животные и рыбы тропических морей и Индийского океана. В "Крокус Сити Океанариум" и "Москвариум" приходят погружаться опытные дайверы и те, кто только еще хочет попробовать погружение с аквалангом, взрослые и дети, студенты дайвинг-курсов.',
    'Уже более 25 лет команда RuDIVE работает в дайвинг-индустрии: обучает подводному плаванию людей разного возраста, профессий и национальностей, готовит инструкторов высокого класса, организует путешествия и экспедиции в самые удаленные уголки земного шара, погружается от Северного полюса до Антарктиды, покоряет большие глубины, пишет книги, снимает фильмы, строит дайв-центры. И все это время идет непрерывная работа по совершенствованию всех сервисов, улучшению менеджмента, повышению безопасности дайвинга. Открывать людям красоту подводного мира, помогать им обрести гармонию и друзей при помощи дайвинга – вот в чем заключается миссия группы компаний RuDIVE.',
  ];

section.section.moskvarium
  .container
    h3.third-title.moskvarium__title Летом 2017 г. заработал уникальный дайв-центр "Крокус Сити Океанариум"
    +text('moskvarium', moskvariumText)
    .moskvarium__swiper-container
      .swiper.moskvarium__swiper
        .swiper-wrapper
          +slider('about', 'moskvarium', [1, 2, 3, 4, 5])
      +sliderBtns('moskvarium')
