section.page-hero.about-hero(style="background-image: url(./images/about-hero-bg.webp);")
  .container.page-hero__container
    .breadcrumbs
      ul.list-reset.breadcrumbs__list
        li.breadcrumbs__item
          a.link.breadcrumbs__link(href="./index.html") Главная
        li.breadcrumbs__item О нас
    .page-hero__content.about-hero__content
      h2.second-title.page-hero__title Мы страстно любим море, дайвинг и людей, обожаем путешествовать и познавать мир
      .page-hero__text Это помогает нам правильно организовывать самые сложные погружения от Антарктиды до Северного полюса, разрабатывать новые программы путешествий в самые дикие уголки земного шара, запускать новые учебные программы.
