section.page-hero.centers-hero(style="background-image: url(./images/centers-hero-bg.webp);")
  .container.page-hero__container
    .breadcrumbs
      ul.list-reset.breadcrumbs__list
        li.breadcrumbs__item
          a.link.breadcrumbs__link(href="./index.html") Главная
        li.breadcrumbs__item Дайвинг-центры
    .page-hero__content.centers-hero__content
      h2.second-title.page-hero__title Дайвинг-центры RuDIVE
      .page-hero__text имеют высокий международный статус PADI 5* IDC дайвинг-центров, под единым номером 3564 в реестре PADI. Обучение в дайв-центрах RuDIVE проходит по международным стандартам PADI, ISO и российским стандартам ГОСТ.
