include ./mixins/tabs-block.pug
include ./mixins/centers-list-block.pug

-
  const contactsTabsTabs = [
    {
      title: 'Контакты',
      class: 'tabs__btn--active',
    },
    {
      title: 'Реквизиты',
    },
    {
      title: 'Для поставщиков',
    },
  ];

.section-bottom.contacts-tabs
  .container
    +tabsBlock('contacts-tabs', 'contacts-tabs', contactsTabsTabs)
      .tab.contacts.contacts-tabs__tab.tab--active(id='contacts-tabs-tab-1')
        include ./contacts.pug
      .tab.requisutes.contacts-tabs__tab(id='contacts-tabs-tab-2')
        include ./requisites.pug
      .tab.contacts-tabs__tab(id='contacts-tabs-tab-3')
        include ./offer.pug
