section.page-hero-sm(style="background-image: url(./images/page-hero-bg.webp);")
  .container.page-hero-sm__container
    .breadcrumbs
      ul.list-reset.breadcrumbs__list
        li.breadcrumbs__item
          a.link.breadcrumbs__link(href="./index.html") Главная
        li.breadcrumbs__item Расписание курсов по дайвингу
    h2.second-title.page-hero-sm__title Расписание курсов по дайвингу
