-
  const heroLinks = [
    {title: 'Как попробовать', href: '#', class: 'hero__link--active'},
    {title: 'Дайвинг в океанариумах', href: 'oceanariums'},
    {title: 'Цены на обучение', href: 'prices'},
    {title: 'Расписание туров', href: 'schedule'},
  ]

section.hero(style="background-image: url(./images/hero-bg.webp);")
  h1.visually-hidden ruDive
  .hero__content
    .hero__links
      for link, index in heroLinks
        a.link-btn.hero__link(class=link.class href=`./${link.href}.html`)= link.title
