<!-- модальное окно "Купить сертификат" -->
include ./mixins/gift-cards.pug
include ./mixins/form-address.pug
include ./mixins/form-cost.pug

-
  const modalCertificate = [
    {title: '«Открытие дайвинга»'},
    {
      title: '«Открытие дайвинга в Океанариуме»',
      class: 'gift-card--active focus'
    },
    {title: '«Открытие дайвинга в Океанариуме»'},
    {title: '«Пресноводный мир Крокус Сити Океанариума»'},
    {title: '«Московские акулы»'},
    {title: '«Под воду – с друзьями!»'},
    {title: '«Дайвинг-стиль»'},
    {title: '«Зима-2024»'},
    {title: '«Романтика»'},
  ];
  const modalAddress = [
    {
      title: 'Кому отправить подарок',
      type: 'text',
      placeholder: 'ФИО',
    },
    {
      type: 'tel',
      placeholder: 'Контактный телефон',
    },
    {
      title: 'Способ отправки',
      type: 'email',
      placeholder: 'E-mail',
    },
    {
      title: 'Способ оплаты',
      type: 'text',
      placeholder: 'Банковская карта',
    },
  ];
  const modalCost = [
    {
      name: 'Стоимость сертификата:',
      value: '',
    },
    {
      name: 'Скидка:',
      value: '10 %'
    },
    {
      name: 'К оплате:',
      value: '',
    }
  ]

.modal(id="modal-certificate")
  .modal__bg
    .modal__body.modal-certificate(data-simplebar)
      button.btn-reset.modal__close-btn(type="button")
        svg
          use(xlink:href="./images/sprite.svg#close")
      a.link.modal__logo-link.modal-certificate__logo-link
        img.logo(src="./images/svg/logo.svg" alt="Логотип")
      form.modal-certificate__form
        .modal-certificate__form-block
          h4.fourth-title.modal-certificate__title Выберите сертификат
          +giftCards(modalCertificate, 'modal-certificate', 'jpg')
        .modal-certificate__form-block
          include ./form-textarea.pug
        .modal-certificate__form-block
          include ./form-nominal.pug
        .modal-certificate__form-block
          +formAddress(modalAddress)
        .modal-certificate__form-block.modal-certificate__form-block--cost
          +formCost(modalCost, 'Стоимость сертификата')
        .modal-certificate__form-block
          include ./form-bottom.pug
