section.section.moskvarium
  .container
    h3.third-title.moskvarium__title Летом 2017 г. заработал уникальный дайв-центр "Крокус Сити Океанариум"
    .moskvarium__text
      .moskvarium__paragraph А летом 2020 – дайв-центр в "Москвариуме" на ВДНХ, где живут животные и рыбы тропических морей и Индийского океана. В "Крокус Сити Океанариум" и "Москвариум" приходят погружаться опытные дайверы и те, кто только еще хочет попробовать погружение с аквалангом, взрослые и дети, студенты дайвинг-курсов.
      .moskvarium__paragraph Уже более 25 лет команда RuDIVE работает в дайвинг-индустрии: обучает подводному плаванию людей разного возраста, профессий и национальностей, готовит инструкторов высокого класса, организует путешествия и экспедиции в самые удаленные уголки земного шара, погружается от Северного полюса до Антарктиды, покоряет большие глубины, пишет книги, снимает фильмы, строит дайв-центры. И все это время идет непрерывная работа по совершенствованию всех сервисов, улучшению менеджмента, повышению безопасности дайвинга. Открывать людям красоту подводного мира, помогать им обрести гармонию и друзей при помощи дайвинга – вот в чем заключается миссия группы компаний RuDIVE.
    .moskvarium__swiper-container
        .swiper.moskvarium__swiper
          .swiper-wrapper
            for index in [1, 2, 3, 4, 1]
              .swiper-slide.moskvarium__swiper-slide
                .moskvarium__img-block
                  picture
                    source(srcset=`./images/moskvarium-${index}.webp`, type="image/webp")
                    img(src=`./images/moskvarium-${index}.jpg`, alt="Фото")
        .moskvarium__swiper-btns
          button.btn-reset.swiper-button-prev.moskvarium__swiper-button-prev(type="button")
            svg.prev
              use(href="./images/sprite.svg#next")
            svg.prev-active
              use(href="./images/sprite.svg#next-active")
          button.btn-reset.swiper-button-next.moskvarium__swiper-button-next(type="button")
            svg.next
              use(href="./images/sprite.svg#next")
            svg.next-active
              use(href="./images/sprite.svg#next-active")
