section.section-top.oceanariums-advantages
  .container
    h4.fourth-title.oceanariums-advantages__title Где самый интересный дайвинг в Москве?
    .oceanariums-advantages__text В океанариумах. В бассейне хорошо учиться на дайвинг-курсах, проходить специальные дайвинг-программы, а вот получить настоящее удовольствие от погружений с аквалангом можно только в водоемах, максимально похожих на настоящие моря и океаны. Это похоже на фантастику, подумайте только: понырять с морскими черепахами, скатами, муренами, рыбками и даже акулами можно прямо в Москве! Обитатели тропических морей и теплых океанов живут совсем рядом с домом, и чтобы увидеть их, не нужно лететь на самолете долгие часы.
