include ./mixins/table.pug
include ./mixins/accordion.pug

-
  const oceanariumsTableHeader = [
    'Вид погружения', 'Будни 10:00–13:00', 'Будни 16:00–20:00', 'Выходные и праздничные дни 10:00–13:00, 16:00–20:00',
  ];
  const oceanariumsTable = {
    '1': [
      'Погружение дайвинг-инструктора', '6 500 руб.', '7 500 руб.', '8 500 руб.'
    ],
    '2': [
      'Погружение сертифицированного дайвера', '7 500 руб.', '8 500 руб.', '9 500 руб.'
    ],
    '3': [
      'Пакет из двух погружений для тех, кто ныряет впервые (8+ в Москвариуме, 14+ Крокус Сити Океанариуме): первое погружение в бассейне, второе – в океанариуме',
      '11 400 руб.', '12 400 руб.', '13 400 руб.'
    ],
    '4': [
      'Разрешение на съемку собственной камерой для сертифицированного дайвера', '2 000 руб.', '2 000 руб.', '2 000 руб.'
    ],
    '5': [
      'Подводная съемка вашего погружения дайвинг-инструктором RuDIVE', '4 000 руб.', '4 000 руб.', '4 000 руб.'
    ],
    '6': [
      'Подводная съемка двух участников погружения дайвинг-инструктором RuDIVE', '6 000 руб.', '6 000 руб.', '6 000 руб.'
    ],
  };
  const oceanariumsPriceAc = [
    {
      header: 'Погружение дайвинг-инструктора',
      body: {
        'Будни 10:00–13:00' : '6 500 руб.',
        'Будни 16:00–20:00' : '7 500 руб.',
        'Выходные и праздничные дни 10:00–13:00, 16:00–20:00' : '8 500 руб.',
      },
    },
    {
      header: 'Погружение сертифицированного дайвера',
      body: {
        'Будни 10:00–13:00' : '7 500 руб.',
        'Будни 16:00–20:00' : '8 500 руб.',
        'Выходные и праздничные дни 10:00–13:00, 16:00–20:00' : '9 500 руб.',
      },
    },
    {
      header: 'Пакет из двух погружений для тех, кто ныряет впервые (8+ в Москвариуме, 14+ Крокус Сити Океанариуме): первое погружение в бассейне, второе – в океанариуме',
      body: {
        'Будни 10:00–13:00' : '11 400 руб.',
        'Будни 16:00–20:00' : '12 400 руб.',
        'Выходные и праздничные дни 10:00–13:00, 16:00–20:00' : '13 400 руб.',
      },
    },
    {
      header: 'Разрешение на съемку собственной камерой для сертифицированного дайвера',
      body: {
        'Будни 10:00–13:00' : '2 000 руб.',
        'Будни 16:00–20:00' : '2 000 руб.',
        'Выходные и праздничные дни 10:00–13:00, 16:00–20:00' : '2 000 руб.',
      },
    },
    {
      header: 'Подводная съемка вашего погружения дайвинг-инструктором RuDIVE',
      body: {
        'Будни 10:00–13:00' : '4 000 руб.',
        'Будни 16:00–20:00' : '4 000 руб.',
        'Выходные и праздничные дни 10:00–13:00, 16:00–20:00' : '4 000 руб.',
      },
    },
    {
      header: 'Подводная съемка двух участников погружения дайвинг-инструктором RuDIVE',
      body: {
        'Будни 10:00–13:00' : '6 000 руб.',
        'Будни 16:00–20:00' : '6 000 руб.',
        'Выходные и праздничные дни 10:00–13:00, 16:00–20:00' : '6 000 руб.',
      },
    },
  ];

section.section.oceanariums-price
  .container
    h3.third-title.page-third-title.oceanariums-price__title Стоимость дайвинга <br>в «Крокус Сити Океанариуме» и «Москвариуме»
    +table('oceanariums-price', oceanariumsTableHeader, oceanariumsTable)
    +accordion('oceanariums-price', oceanariumsPriceAc)
