include ./mixins/accordion.pug

-
  const oceanariumsAc = [
    {
      header: 'Кого можно увидеть под водой?',
      text: [
        'Океанариум Крокус Сити населён жителями тропических морей. Среди батискафов плавают рифовые, ковровые, леопардовые акулы, орляки, скаты-хвостоколы, рохли, барракуды, черепахи бисса, спинороги, груперы, наполеон и множество других рифовых рыб — всего более 5 тысяч видов. Вы будете плавать по прозрачным тоннелям с переходами над коридорами, где гуляют посетители Океанариума. Это очень необычное впечатление, когда вы находитесь в «родной» морской стихии и при этом видите и подводный мир и людей, которые ходят совсем рядом и тоже смотрят на вас (помашите им рукой, передайте привет по ту сторону стекла!).',
        'Москвариум расположен почти в центре столицы, на ВДНХ, в крупном океанографическом центре. Его отличает большее разнообразие и численность акул. Как проходит погружение с акулами? В условиях максимальной безопасности для дайверов. Если в естественных условиях акулы могут быть голодными, то здесь, в Москвариуме, сотрудники центра заботятся о животных, об их естественных потребностях и психологическом комфорте.',
        'При посещении океанариумов из-за оптической иллюзии кажется, что морские тоннели довольно узкие, мелководные, а животные маленьких размеров. Поэтому вы испытаете странное ощущение, когда обнаружите, что подводные площадки достаточно широкие и вы можете развернуться, что глубина пять метров, а сами животные настолько большие, что некоторые экземпляры заметно крупнее своих родственников из естественной среды обитания. Всего за одно погружение вы можете увидеть больше, чем за целую неделю дайвинг-путешествия в море или в океане!',
      ]
    },
    {
      header: 'Кто может погружаться в океанариумах?',
      text: [
        'К погружениям допускаются сертифицированные дайверы, студенты дайвинг-курсов и люди, которые впервые хотят попробовать погружение с аквалангом. Чтобы не нарушать привычную обстановку животных и для вашего комфорта, в воде может находиться не больше двух человек: вместе с дайвером плавает только уполномоченный инструктор RuDIVE.',
        'Перед началом погружения вам расскажут, как вести себя с морскими животными, обратят внимание на их характер, объяснят тонкости маршрута. Не сертифицированным участникам погружения, которые никогда не плавали с аквалангом, сначала предстоит тренировочное погружение в бассейне. Его можно сделать накануне или в день погружения в Океанариуме. Если вы быстро устаете, эти два погружения лучше сделать в разные дни.'
      ]
    },
    {
      header: 'Особенности дайвинга в океанариумах',
      text: [
              'Температура солёной морской воды в Океанариуме 25-26 градусов, а в Москвариуме 24 градуса. Системы замкнутые, для очищения используются специальные средства.',
              'В день погружения, пожалуйста, не пользуйтесь духами, лосьонами для тела, лаками и гелями для волос и т. п. Это нужно для сохранения уникальной водной среды и здоровья морских животных и рыб. Непосредственно перед погружением посетите туалет, примите душ без моющих средств! В Океанариуме есть шкафчики для переодевания, душ, туалет, фен. Моющими средствами и парфюмерией можно пользоваться уже после погружения.'
      ]
    },
    {
      header: 'Как пройти в дайвинг центр?',
      text: [
              'При входе в Океанариум (один вход со стеклянными дверями), после рамок досмотра левее спускаетесь по лестнице и ожидаете у касс у входа в зону «Моря, океаны». Там есть скамейки в виде рыбок :) Телефонная связь работает не очень хорошо, дозвониться трудно; в назначенное время к вам подойдет сопровождающий. Если вы потерялись, можно обратиться к администраторам Океанариума, они помогут вам найти дорогу.',
              '«Москвариум» находится слева от ракеты «Восток». Идите к центральному входу ВДНХ (7 минут пешком). От центрального входа выставки идите по главной аллее прямо около 20 минут до павильона «Космос».'
      ]
    },
    {
      header: 'Зачем делать первое погружение в бассейне?',
      text: [
              'Тренировочное погружение в бассейне даст вам возможность привыкнуть к аквалангу, научиться дышать из него, плавать в толще воды и объясняться знаками под водой. Вы также научитесь выравнивать давление в ушах, чтобы они не болели.',
              'Мы проводим пробное погружение в бассейне, чтобы во время погружения в аквариуме вы могли наблюдать за морскими животными и общаться с ними, а не преодолевать трудности выравнивания своего тела в толще воды. Подготовка к погружению занимает около часа. Время осмотра экспозиций после погружения зависит от желания участника.'
      ]
    },
    {
      header: 'Можно ли нырнуть без пробного погружения?',
      text: [
              'Если вы сертифицированный дайвер - вы можете сразу записаться на погружение. Для этого пришлите фото вашего дайверского сертификата нам на WhatsApp. Мы принимаем сертификаты PADI, CMAS, SSI, IANTD, NDL и другие дайверские сертификаты международных организаций.',
              'Если вы погружались в одном из океанариумов меньше полугода назад, то мы готовы принять вас без повторного пробного погружения.'
      ]
    },
    {
      header: 'Чем отличается Москвариум на ВДНХ от Океанариума Крокус Сити, что выбрать?',
      text: [
              'В Океанариуме Крокус Сити сделан красочный искусственный риф. Рыбки там ярче и общительней, чем в Москвариуме, и подплывают ближе к людям. В Крокусе вода на два градуса теплее, а душевая, где нужно снимать и надевать снаряжение комфортней. Поэтому если вы теплолюбивы и старше 14 лет, мы рекомендуем выбрать Крокус.',
              'В Москвариуме обитатели не таких ярких цветов, как в Крокусе, и держатся чуть поодаль от дайверов. Но они значительно крупнее. Самые главные из них — две песчаные акулы Миша и Маша. Встретить акул в живой природе не так-то просто, поэтому любители понырять с аквалангом в открытой воде обычно выбирают Москвариум.'
      ]
    },
    {
      header: 'С какого возраста можно записать ребенка на дайвинг?',
      text: [
              'В Москвариуме дайвинг возможен для детей от 8 лет, в Крокус Сити Океанариуме с 14 лет.',
      ]
    },
    {
      header: 'Как оплатить погружение, если вы сертифицированный дайвер?',
      text: [
              'Сначала необходимо забронировать погружение, желательно за 1-2 недели до предполагаемой даты. Сделать это можно через онлайн формы: ',
      ],
      buttons: [
        {
          class: 'moskvarium',
          text: 'Забронировать погружение в Москвариуме'
        },
        {
          class: 'crocus-city',
          text: 'Забронировать погружение в Крокус Сити Океанариуме'
        },
      ],
    },
    {
      header: 'После оплаты на почту пришли медицинские формы. Что с ними делать?',
      text: [
              'Заполните и пришлите формы нам на WhatsApp, чтобы не тратить свое время на их заполнение на месте. Если у вас нет возможности прислать формы, их можно привезти с собой. Без сертификата и заполненных форм дайверы к погружениям не допускаются.',
      ]
    },
    {
      header: 'Есть ли противопоказания?',
      text: [
              'Дайвинг не относится к экстремальным видам спорта, однако лучше не погружаться с аквалангом, если у вас: астма, эпилепсия, беременность, проблемы с сердцем, заложенность носа, ковид, ОРВИ',
      ]
    },
    {
      header: 'Что подразумевает подводная съемка?',
      text: [
              'Разрешение на подводную съемку стоит 2000 рублей: в этом случае участник может принести свою подводную камеру. Съемка с пешеходной стороны океанариума неныряющими участниками также оплачивается в кассе при покупке билетов и стоит 150 рублей. Дайвинг-инструктор по предварительной заявке может снять на свою камеру, стоимость 4000 руб. Условия подводной видеосъемки обсудите с нашим менеджером.',
      ]
    },
    {
      header: 'Можно ли отменить погружения?',
      text: [
              'В том маловероятном случае, если посетитель записался на погружение, но не пришел или опоздал, RuDIVE обязуется оказать услугу в дополнительно оговоренное время с доплатой 2000 рублей. В состоянии алкогольного (и посталкогольного) опьянения участник к погружению не допускается.',
      ]
    },
    {
      header: 'Можно ли погружаться со своим снаряжением?',
      text: [
              'Со своим снаряжением погружаться не разрешается. Мы используем на месте специально обработанное снаряжение, поэтому при заявке на погружение пришлите, пожалуйста, ваши данные для подбора снаряжения (рост / вес / размер ноги). Из своего снаряжения можно взять только маску и компьютер.',
              'С собой нужно взять сменную обувь для воды (как для бассейна), купальник / плавки, полотенце, удостоверение личности (паспорт), дайвинг-сертификат (если вы сертифицированный дайвер), обычные х/б носки темного цвета.'
      ]
    },
    {
      header: 'Сколько по времени длится погружение?',
      text: [
              'Под водой в бассейне или в Океанариуме / Москвариуме вы проведёте + / - 30 минут. Общее время примерно 1,5-2 часа.',
      ]
    },
  ];

section.section-bottom.oceanariums-questions
  .container
    h3.third-title.page-third-title.oceanariums-questions__title Вопросы и ответы
    +accordion('oceanariums-questions', oceanariumsAc)
