include ./mixins/text.pug
include ./mixins/schedule-cards.pug

-
  const scheduleText = [
    'Клубные поездки — групповые путешествия во главе с клубным турлидером под флагом RuDIVE. Мы заранее выбираем направление поездки, лучший сезон, яхту или отель с дайвинг-центром и рассчитываем программу, исходя из нашего многолетнего опыта в дайвинг-путешествиях по всему миру.',
    'Плюсы поездок с клубом: выверенная программа, интересная компания, новые и старые друзья, участие турлидера — инструктора PADI, который обеспечивает безопасность, учебный процесс, клубную атмосферу, решение проблем на суше и под водой. Расписание клубных дайвинг-туров динамично меняется в силу новых идей и возможностей, в него постоянно добавляются новые поездки. Мы стараемся планировать расписание групповых туров на год вперед.'
  ];
  const scheduleFilters = [
    {
      title: 'Вид тура', placeholder: 'Любой',
      dropdown: [
        'Любой', 'Дайвинг с акулами', 'Дайвинг с дельфинами', 'Дайвинг с китами', 'Дайвинг-сафари', 'Дейли-дайвинг'
      ],
    },
    {
      title: 'Регион', placeholder: 'Любой',
      dropdown: [
        'Любой', 'Колумбия', 'Африка', 'Индийский океан', 'Красное море', 'Мальдивы', 'Россия', 'Карибское море', 'Океания'
      ],
    },
    {
      title: 'Суда, отели, базы', placeholder: 'Любой',
      dropdown: [
        'Любой', 'Судно Atlantis Azores', 'Судно Black Pearl', 'Судно Maldiviana', 'Судно Neo', 'Судно Капитан Кусто'
      ],
    },
    {
      title: 'Турлидер', placeholder: 'Любой',
      dropdown: [
        'Любой', 'Наталья Бараночникова', 'Ирина Квасова', 'Екатерина Кусачёва', 'Дмитрий Орлов', 'Алексей Побожаков', 'Андрей Павлов'
      ],
    },
    {
      title: 'Месяц', placeholder: 'Любой',
      dropdown: [
        'Любой', 'Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'
      ],
    },
    {
      title: 'Сортировать по', placeholder: 'Дата заезда',
      dropdown: [
        'Дата заезда', 'Цена'
      ],
    },
    {
      title: 'Порядок', placeholder: 'По возрастанию',
      dropdown: [
        'По возрастанию', 'По убыванию'
      ],
    },
  ];
  const scheduleCards = [
    {
      title: 'Дайвинг с мантами и акулами на Мальдивах', price: 'от 1 900 $',
      bottom: {
        'schedule-calendar' : '21 сентября - 1 октября',
        'leader' : 'Турлидер: Екатерина Кусачёва',
        'tour-guide' : 'Инструктор: Екатерина Кусачёва',
      },
    },
    {
      title: 'Дайвинг с дельфинами на Красном море', price: 'от 1 900 $',
      bottom: {
        'schedule-calendar' : '29 июня - 6 июля',
        'leader' : 'Турлидер: Дмитрий Орлов',
        'tour-guide' : 'Инструктор: Дмитрий Орлов',
      },
      btnClass: 'schedule__card-btn--active',
    },
    {
      title: 'Дайвинг-сафари в Колумбии', price: 'от 18 000 $',
      bottom: {
        'schedule-calendar' : '29 октября - 20 ноября',
        'leader' : 'Турлидер: Дмитрий Орлов',
        'tour-guide' : 'Инструктор: Дмитрий Орлов',
      },
    },
    {
      title: 'Дайвинг с китами в Индийском океане', price: 'от 3 450 $',
      bottom: {
        'schedule-calendar' : '11 мая - 19 мая',
        'leader' : 'Турлидер: Ирина Квасова',
        'tour-guide' : 'Инструктор: Ирина Квасова',
      },
    },
    {
      title: 'Дайвинг-сафари на Красном море', price: 'от 1 350 $',
      bottom: {
        'schedule-calendar' : '27 апреля - 4 мая',
        'leader' : 'Турлидер: Андрей Павлов',
        'tour-guide' : 'Инструктор: Андрей Павлов',
      },
    },
    {
      title: 'Дайвинг с акулами в ЮАР', price: 'от 3 100 $',
      bottom: {
        'schedule-calendar' : '15 июня - 25 июня',
        'leader' : 'Турлидер: Наталья Бараночникова',
        'tour-guide' : 'Инструктор: Наталья Бараночникова',
      },
      cardClass: 'none',
    },
    {
      title: 'Дайвинг в России на острове Монерон', price: 'от 340 000 руб.',
      bottom: {
        'schedule-calendar' : '1 августа - 11 августа',
        'leader' : 'Турлидер: Наталья Бараночникова',
        'tour-guide' : 'Инструктор: Наталья Бараночникова',
      },
      cardClass: 'none',
    },
    {
      title: 'Дайвинг с акулами в Карибском море', price: 'от 4 000 $',
      bottom: {
        'schedule-calendar' : '29 октября - 20 ноября',
        'leader' : 'Турлидер: Алексей Побожаков',
        'tour-guide' : 'Инструктор: Алексей Побожаков',
      },
      cardClass: 'none',
    },
    {
      title: 'Дайвинг с китами в Индийском океане', price: 'от 5 500 $',
      bottom: {
        'schedule-calendar' : '1 мая - 16 мая',
        'leader' : 'Турлидер: Екатерина Кусачёва',
        'tour-guide' : 'Инструктор: Екатерина Кусачёва',
      },
      cardClass: 'none',
    },
    {
      title: 'Дейли-дайвинг в Океании', price: 'от 8 500 $',
      bottom: {
        'schedule-calendar' : '14 сентября - 29 сентября',
        'leader' : 'Турлидер: Дмитрий Орлов',
        'tour-guide' : 'Инструктор: Дмитрий Орлов',
      },
      cardClass: 'none',
    },
  ]

.section.schedule
  .container
    +text('schedule', scheduleText)
    .schedule__filters-block
      for item, index in scheduleFilters
        .schedule__filter
          span.schedule__filter-title= item.title
          .select(id=`schedule-select-${index + 1}`)
            button.btn-reset.btn.select__input.schedule__filter-select-btn(type="button")
              span.select__current= item.placeholder
              svg.select__arrow
                use(href="./images/sprite.svg#arrow-down")
            .select__dropdown
              ul.list-reset.select__list(data-simplebar)
                for value in item.dropdown
                  li.select__item(tabindex="0")= value
      button.btn-reset.btn.schedule__filter-btn(type='button') Применить фильтр
    .schedule__cards-block
      +scheduleCards('schedule', scheduleCards, 'Забронировать', 'modal-book')
