section.section.spas-kamenka
  .container
    h3.third-title.spas-kamenka__title Настоящим подарком для дайверов и студентов дайвинг-курсов стало строительство дайвинг-центра "Спас-Каменка" на берегу одноименного озера.
    .spas-kamenka__text
      .spas-kamenka__paragraph Официально дайв-центр открылся в 2007 году и с тех пор принимает дайверов круглый год. Летом здесь сдают открытую воду и погружаются на дайв-сайтах озера, а зимой наступает пора подледного дайвинга.
      .spas-kamenka__paragraph Одним из важных направлений в Клубе стала работа с людьми с ограниченными возможностями, которая началась в 2011 году. Инструкторы RuDIVE прошли обучение и были сертифицированы по международной системе HSA (Ассоциация дайвинга для людей с ограниченными возможностями). Эта программа способствует реабилитации и дарит новые положительные ощущения, помогает справиться с заниженной самооценкой и почувствовать себя полноценным членом общества.
    .spas-kamenka__images
      for value, index in {'1' : 'vertical', '2' : 'horizontal', '3' : 'horizontal'}
        div(class=`spas-kamenka__${value}-img-block`)
          picture
            source(srcset=`./images/spas-kamenka-${index}.webp`, type="image/webp")
            img(src=`./images/spas-kamenka-${index}.jpg`, alt="Фото")
