section.section.speciality
  .container
    h3.third-title.page-third-title.speciality__title Компания RuDIVE может все!
    .speciality__text Наша главная специальность: дайвинг-сафари, дейли-дайвинг и экспедиции по всему миру на доступные человеку глубины, общение с большими морскими животными, поездки с дайвинг-курсами любой сложности. Также мы активно развиваем экотуризм, приключенческие программы в горах, пустынях, джунглях, поездки к первобытным племенам и, конечно, наблюдения за большими наземными животными.
