section.training-hero(style="background-image: url(./images/training-hero-bg.webp);")
  .container.training-hero__container
    .breadcrumbs
      ul.list-reset.breadcrumbs__list
        li.breadcrumbs__item
          a.link.breadcrumbs__link(href="./index.html") Главная
        li.breadcrumbs__item Обучение
    .training-hero__content
      h2.second-title.training-hero__title Обучение
      .training-hero__text Группа RuDIVE (в прошлом — Подводный клуб МГУ) — известная международная школа дайвинга, имеет высокий статус PADI 5* IDC дайв-центра № 3564 и основана в 1996 г. Обучение в нашей школе дайвинга проходит по международным стандартам PADI, ISO и ГОСТ. Инструкторы — опытные профессионалы-энтузиасты. В школе преподают два PADI курс-директора, несколько мастер-инструкторов и кандидатов наук. Разнообразие курсов в нашем клубе — самое большое в мире, от начального уровня до тримикс-инструктора. Те, кто хочет только попробовать дайвинг, могут сделать пробное погружение в бассейне на Лодочной и в "Азовском", "Крокус Сити Океанариуме", "Москвариуме" или в Подмосковье.
