include ./mixins/accordion.pug
include ./mixins/characteristics.pug

-
  const tripProgramAc = [
    {
      btnText: '31 января',
      header: 'Вылет в Стамбул',
      text: ['Вылет из Москвы в Стамбул рейсом TK412 в 02:55, прилет в 06:00. Пересадка на рейс TK15 Стамбул ─ Буэнос-Айрес с технической остановкой в Сан-Паулу. Вылет в 10:05, прилет в 22:25. Встреча в аэропорту с принимающей стороной, трансфер в отель Hotel Babel. Размещение в номерах, отдых.'],
    },
    {
      btnText: '1 февраля',
      header: 'Экскурсия по Буэнос-Айресу',
      text: ['Трехчасовая обзорная экскурсия по Буэнос-Айресу в сопровождении русскоговорящего гида. Вечером ужин пройдет в ресторане, и во время ужина мы посмотрим известное на весь мир танго-шоу Gala Tango.'],
    },
    {
      btnText: '2 февраля',
      header: 'Перелет из Буэнос-Айрес в Ушуайю',
      text: ['После отельного завтрака выезд в аэропорт и перелет из Буэнос-Айрес в Ушуайю рейсом AR1890, 11:45 – 15:25. По прилете трансфер и размещение в отеле Mil810. Отдых.'],
    },
    {
      btnText: '3 февраля',
      header: 'Экскурсионная программа в национальный парк «Огненная Земля»',
      text: ['После завтрака ─ экскурсионная программа в национальный парк «Огненная Земля» в сопровождении англоговорящего гида. Затем выписка из отеля, отправка в порт.'],
    },
    {
      btnText: '4-5 февраля',
      header: 'Переход судна к Антарктиде',
      text: ['Переход судна к Антарктиде через пролив Дрейка. Альбатросы будут сопровождать нас в плавании. Во время прохождения зоны Антарктической Конвергенции мы встретим интересное явление: количество морских птиц резко возрастает до нескольких тысяч! О причинах этого и других чудесах Антарктиды нам расскажут лекторы, которые входят в состав нашей экспедиционной команды.'],
    },
    {
      btnText: '6-10 февраля',
      header: 'Прибытие в Антарктиду',
      text: [
        'Животный мир Антарктиды и близлежащих островов необычайно разнообразен и богат: летом (для    Южного полушария) в южных областях обитает огромное количество морских птиц (пингвины, буревестники, альбатросы, поморники) и тюленей (тюлень-крабоед, тюлень Уэдделла, тюлень Росса, морской леопард). У побережья встречаются несколько видов китов (финвал, карликовый полосатик, гладкий кит).',
        'Подводный мир Антарктиды богат и интересен. Живописные стены льдов и подводные ламинариевые джунгли (бурые водоросли вырастают здесь до восьми метров в длину и метра в ширину). На дне обитают различные беспозвоночные: многолучевые звезды, морские ежи, огромные голожаберники, асцидии, офиуры, яркие губки, моллюски, крупные ярко-красные бокоплавы. В толще воды проплывают медузы. В поверхностных водах встречаются места, густо насыщенные крилем.'
      ],
    },
    {
      btnText: '11-12 февраля',
      header: 'Обратный переход судна через пролив Дрейка',
      text: ['Обратный переход судна через пролив Дрейка'],
    },
    {
      btnText: '13 февраля',
      header: 'Сход на берег в Ушуайе',
      text: [
        'Сход на берег в Ушуайе около 09:00. Трансфер в аэропорт, вылет рейсом AR1899 в Буэнос-Айрес в 13:15, прилет в 16:40. Получение багажа и трансфер в отель Kenton. Отдых.',
        'После завтрака едем в аэропорт Хорхе Ньюбери, AEP. Посадка на рейс AR1732 Буэнос Айрес ─ Пуэрто-Игуасу. Перелет 07:40 - 09:30.',
        'Встреча с принимающей стороной. У нас есть восемь часов, чтобы сходить на экскурсию к водопадам. Вечером трансфер в аэропорт, посадка на рейс AR1739 Пуэрто-Игуасу ─ Буэнос-Айрес, вылет в 18:55, прилет в 20:50 в аэропорт Министро Пистрани, EZE. Получаем багаж и идем регистрироваться на рейс ТК16 Буэнос Айрес ─ Стамбул (с технической остановкой в Сан-Паулу). Вылет в 23:50, прилет в 22:10.',
      ],
    },
    {
      btnText: '14 февраля',
      header: 'Пересадка на рейс Стамбул - Москва',
      text: ['Пересадка на рейс Стамбул - Москва'],
    },
  ];
  const tripCharacteristics = [
    {
      icon: 'white-calendar',
      title: 'Дата заезда',
      text: '31.01.2024 — 14.02.2024',
    },
    {
      icon: 'pin',
      title: 'Регион',
      text: 'Антарктида',
    },
    {
      icon: 'bed',
      title: 'Размещение',
      text: 'судно Plancius, Hotel BabelMil810',
    },
    {
      icon: 'leader',
      title: 'Турлидер',
      text: 'Наталья Бараночникова',
    },
    {
      icon: 'manager',
      title: 'Ответственный менеджер',
      text: 'Кирилл Федосов',
      contacts: [
        {
          href: 'mailto:kfedosov@dive.ru',
          icon: 'email',
          text: 'kfedosov@dive.ru',
        },
        {
          href: 'tel:+74959257799',
          icon: 'call',
          text: '+7 (495) 925-77-99',
        },
      ],
    },
  ];
  const tripProgramCabins = [
    {
      title: '¼ каюты Quad Porthole — ',
      price:`9&nbsp;900&nbsp;€`,
    },
    {
      title: '½ каюты Porthole с раздельными кроватями — ',
      price: `12&nbsp;000&nbsp;€`,
    },
    {
      title: '½ каюты Window — ',
      price: `12&nbsp;500&nbsp;€`,
    },
  ];

section.section.trip-program
  .container
    h4.fourth-title.trip-program__title Ориентировочная программа
    .trip-program__block
      .trip-program__cards
        +accordion('trip-program', tripProgramAc)
      .trip-program__characteristics-block.characteristics
        +characteristics(tripCharacteristics)
    .trip-program__block
      .trip-program__cards
        for cabin in tripProgramCabins
          .trip-program__cabin
            .trip-program__cabin-descr
              span.trip-program__cabin-title= cabin.title
              span.trip-program__cabin-price!= cabin.price
            button.btn-reset.btn.white-btn.trip-program__cabin-btn Записаться
      .trip-program__empty-block
