include ../../mixins/text.pug
include ../../mixins/gift-cards.pug

-
  const giftsText = [
    'Устали дарить ежедневники и конфеты?! Есть яркое и свежее решение! Приезжайте за романтичными дайвинг-подарками к нам! Вы всегда можете выбрать необычный подарок своим близким или коллегам или помочь друзьям выбрать подарок для вас. Мы поможем вам сделать подарок ко дню рождения, Новому году, 23 февраля и 8 Марта, к успешному окончанию учебного года или поступлению в вуз ― любому важному событию в жизни друга, члена вашей семьи, коллеги. Это будет гарантированно радостный сюрприз!',
    'Для приобретения подарочного комплекта звоните по телефону + 7 (495) 925-77-99 или приезжайте <a class="policy-link text__link" href="./gifts.html">в офис в центре дизайна ARTPLAY</a>. Заказать подарочный комплект без приезда в офис можно с оплатой онлайн и курьерской доставкой. Стоимость доставки 500 руб. в пределах МКАД (оплачивается отдельно. Стоимость подарков указана без стоимости доставки).',
  ];
  const giftsCards = [
    {
      title: '«Открытие дайвинга»',
      price: 'от 13 400 ₽'
    },
    {
      title: '«Открытие дайвинга в Океанариуме»',
      price: 'от 13 400 ₽',
      class: 'gift-card--active'
    },
    {
      title: '«Пресноводный мир Крокус Сити Океанариума»',
      price: 'от 13 400 ₽'
    },
    {
      title: '«Московские акулы»',
      price: 'от 13 400 ₽'
    },
    {
      title: '«Под воду – с друзьями!»',
      price: 'от 25 500 ₽'
    },
    {
      title: '«Дайвинг-стиль»',
      price: 'от 33 500 ₽'
    },
    {
      title: '«Зима - 2024»',
      price: 'от 21 500 ₽',
    },
    {
      title: '«Романтика»',
      price: 'от 50 000 ₽'
    },
    {
      title: 'Юбилейная флешка с 25-ю избранными передачами Рудайвидения',
      price: 'от 3 000 ₽'
    },
    {
      title: 'Карта-раскраска рудайвера',
      price: 'от 2 000 ₽'
    },
    {
      title: 'Сувенир-украшение "Подвеска с акульим зубом"',
      price: 'от 2 000 ₽'
    },
  ];

.section-bottom.gifts
  .container
    +text('gifts', giftsText)
    +giftCards(giftsCards, 'gifts', 'jpg')
    include ./gifts-form.pug
