include ../../mixins/form-address.pug
include ../../mixins/form-cost.pug

-
  const booksAddress = [
    {
      title: 'Кому отправить',
      type: 'text',
      placeholder: 'ФИО',
    },
    {
      type: 'tel',
      placeholder: 'Контактный телефон',
    },
    {
      title: 'Способ отправки',
      type: 'email',
      placeholder: 'E-mail',
    },
    {
      title: 'Способ оплаты',
      type: 'text',
      placeholder: 'Банковская карта',
    },
  ];
  const booksCost = [
    {
      name: 'Стоимость книги:',
      value: ''
    },
    {
      name: 'Скидка:',
      value: '10 %'
    },
    {
      name: 'К оплате:',
      value: ''
    }
  ];

form.books__form
  .books__form-block.books__form-block--address
    +formAddress(booksAddress)
  .books__form-block.books__form-block--cost
    +formCost(booksCost, 'Стоимость книги')
  .books__form-block.books__form-block--bottom
    include ./form-bottom
