include ../../mixins/text.pug
include ../../mixins/gift-cards.pug

-
  const booksText = [
    'Устали дарить ежедневники и конфеты?! Есть яркое и свежее решение! Приезжайте за романтичными дайвинг-подарками к нам! Вы всегда можете выбрать необычный подарок своим близким или коллегам или помочь друзьям выбрать подарок для вас. Мы поможем вам сделать подарок ко дню рождения, Новому году, 23 февраля и 8 Марта, к успешному окончанию учебного года или поступлению в вуз ― любому важному событию в жизни друга, члена вашей семьи, коллеги. Это будет гарантированно радостный сюрприз!',
    'Для приобретения подарочного комплекта звоните по телефону + 7 (495) 925-77-99 или приезжайте <a class="policy-link text__link" href="./books.html">в офис в центре дизайна ARTPLAY</a>. Заказать подарочный комплект без приезда в офис можно с оплатой онлайн и курьерской доставкой. Стоимость доставки 500 руб. в пределах МКАД (оплачивается отдельно. Стоимость подарков указана без стоимости доставки).'
  ];
  const booksCards = [
    {
      title: 'Орлов Д. В. Опасные морские животные',
      price: 'от 3 900 ₽'
    },
    {
      title: 'Орлов Д.В. Вокруг света под водой.',
      price: 'от 13 400 ₽',
      class: 'gift-card--active'
    },
    {
      title: 'Орлов Д.В. Зов бездны.',
      price: 'от 13 400 ₽'
    },
    {
      title: 'Орлов Д. В. Англо-русский, русско-английский подводный словарь аквалангиста.',
      price: 'от 13 400 ₽'
    },
    {
      title: 'Орлов Д. В., Сафонов М. В. Осторожно, я с аквалангом!',
      price: 'от 13 400 ₽'
    },
  ];

.section-bottom.books
  .container
    +text('books', booksText)
    +giftCards(booksCards, 'books', 'png')
    include ./books-form.pug
