.form-block.form-block--bottom
  label.form-label-checkbox
    input.form-input-checkbox.form-block__input-checkbox(type="checkbox")
    span.form-checkbox.form-block__checkbox
    span.form-label-checkbox-text.form-block__checkbox-text Нажимая "Оплатить", я соглашаюсь с&nbsp;
      a.policy-link.form-block__link(href="#") правилами
      |
      |и
      |
      a.policy-link.form-block__link(href="#") офертой
  button.btn-reset.btn.form-block__btn.btn-js(type='submit') Оплатить
