.oceanariums-reports {
  &__title {
    margin-bottom: 21px;
    max-width: 692px;

    @media (max-width:480px) {
      margin-bottom: 16px;
    }
  }

  &__text {
    margin-bottom: 60px;
    max-width: 1164px;

    @media (max-width:1470px) {
      margin-bottom: 36px;
    }

    @media (max-width:1100px) {
      margin-bottom: 32px;
    }

    @media (max-width:720px) {
      margin-bottom: 24px;
    }

    @media (max-width:480px) {
      margin-bottom: 16px;
    }
  }

  &__cards-block {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 33px 30px;
    margin-bottom: 75px;

    @media (max-width:1470px) {
      grid-template-columns: repeat(4, 1fr);
      gap: 24px 32px;
      margin-bottom: 48px;
    }

    @media (max-width:1100px) {
      grid-template-columns: repeat(3, 1fr);
      gap: 24px;
      margin-bottom: 36px;
    }

    @media (max-width:720px) {
      grid-template-columns: repeat(2, 1fr);
      margin-bottom: 32px;
    }

    @media (max-width:480px) {
      grid-template-columns: 1fr;
      gap: 16px;
      margin-bottom: 24px;
    }
  }

  &__card {
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding: 25px 18px;
    width: 100%;
    min-height: 197px;
    text-align: center;
    background: rgba(255, 255, 255, 0.1);

    @media (max-width:1100px) {
      min-height: 180px;
    }

    @media (max-width:480px) {
      min-height: 150px;
    }
  }

  &__card-icon {
    margin-bottom: 14px;
    width: 51px;
    height: 51px;
  }

  &__card-text {
    color: var(--white);
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
  }

  &__images {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 36px 24px;

    @media (max-width:1470px) {
      gap: 24px;
    }

    @media (max-width:480px) {
      gap: 16px;
    }
  }

  &__img-block {
    border-radius: 10px;
    width: 100%;
    background-color: var(--light-gray);
    overflow: hidden;

    & img {
      width: 100%;
    }
  }

  &__top-img-block {
    width: 454px;
    aspect-ratio: 454 / 321;

    @media (max-width:1470px) {
      width: min(454px, calc((100% - 48px) / 3));
    }

    @media (max-width:720px) {
      width: calc((100% - 24px) / 2);
    }

    @media (max-width:480px) {
      margin: 0 auto;
      width: 100%;
      max-height: 245px;
    }
  }

  &__bottom-img-block {
    width: 342px;
    aspect-ratio: 342 / 239;

    @media (max-width:1470px) {
      width: min(342px, calc((100% - 72px) / 4));
    }

    @media (max-width:1100px) {
      width: min(454px, calc((100% - 48px) / 3));
    }

    @media (max-width:720px) {
      width: calc((100% - 24px) / 2);
    }

    @media (max-width:480px) {
      margin: 0 auto;
      width: 100%;
      max-height: 245px;
    }
  }
}
