.deeds {
  &__title {
    position: relative;
    margin-bottom: 56px;
    padding-left: 116px;

    &::before {
      content: "0" counter(counter);
      font-weight: 400;
    }

    @media (max-width:1470px) {
      margin-bottom: 32px;
    }

    @media (max-width:480px) {
      margin-bottom: 24px;
    }
  }

  &__accordion {
    &:not(:last-child) {
      margin-bottom: 24px;

      @media (max-width:480px) {
        margin-bottom: 16px;
      }
    }
  }

  &__trigger {
    padding: 20px 25px;
    min-height: 70px;

    @media (max-width:480px) {
      padding: 20px 16px;
    }
  }

  &__header {
    font-size: 24px;
    font-weight: 700;
    line-height: 26px;

    @media (max-width:720px) {
      font-size: 18px;
      line-height: 22px;
    }

    @media (max-width:480px) {
      font-size: 16px;
    }
  }

  &__content {
    padding-left: 25px;
    padding-right: 25px;

    @media (max-width:480px) {
      padding-left: 16px;
      padding-right: 16px;
    }
  }

  &__img-block {
    float: left;
    border-radius: 15px;
    margin-right: 50px;
    width: 477px;
    height: 100%;
    aspect-ratio: 477 / 304;
    background-color: var(--light-gray);
    overflow: hidden;

    @media (max-width:1470px) {
      width: 35%;
      max-width: 477px;
    }

    @media (max-width:1100px) {
      margin-right: 36px;
      margin-bottom: 12px;
      min-width: 300px;
    }

    @media (max-width:720px) {
      margin-right: 24px;
      width: 50%;
      min-width: auto;
      max-width: 300px;
    }

    @media (max-width:480px) {
      float: none;
      margin-right: 0;
      margin-bottom: 16px;
      width: 60%;
      min-width: 258px;
    }
  }

  &__text {
    padding-top: 35px;
    max-width: 1300px;

    @media (max-width:1470px) {
      padding-top: 0;
    }
  }
}
