.moskvarium {
  &__title {
    margin-bottom: 21px;
    max-width: 696px;

    @media (max-width:1470px) {
      max-width: 1355px;
    }
  }

  &__text {
    max-width: 965px;
    color: var(--white);
    font-size: 15px;
    line-height: 25px;

    @media (max-width:1470px) {
      max-width: 1355px;
    }

    @media (max-width:480px)  {
      font-size: 14px;
      line-height: 22px;
    }
  }

  &__swiper-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 45px;

    @media (max-width:720px) {
      gap: 32px;
    }

    @media (max-width:480px) {
      gap: 16px;
    }
  }

  &__swiper {
    max-width: 1317px;
  }

  &__swiper-slide {
    @media (max-width:1470px) {
      width: auto;
    }
  }

  &__card-img-block {
    border-radius: 15px;
    width: 310px;
    height: 203px;
    background-color: var(--light-gray);
    overflow: hidden;

    @media (max-width:480px) {
      width: 200px;
      height: auto;
      min-height: 131px;
    }
  }
}
