include ../../mixins/text.pug
include ../../mixins/tabs-block.pug
include ../../mixins/tab-cards.pug
-
  const teamTabs = [
    {
      title: 'Турлидеры',
      class: 'tabs__btn--active'
    },
    {
      title: 'Менеджеры',
    },
    {
      title: 'Инструкторы',
    },
  ];
  const teamTab = [
    {
      title: 'leaders',
      class: 'tab--active',
      text: [
        'В клубные поездки: дайвинг-сафари, дейли-дайвинг, наземное путешествие или приключенческую экспедицию с группой едет турлидер RuDIVE из числа штатных проверенных и опытных инструкторов. Турлидер обеспечивает организацию путешествия по плану, качественный дайвинг, решение разнообразных проблем, безопасность, дисциплину и просто получение удовольствия от поездки и клубной компании. Наши турлидеры имеют разные интересы, характеры и жизненный опыт, но все они ― профессиональные дайвинг-инструкторы и путешественники, интересные и веселые люди, надежные товарищи, которые могут провести почти любые дайвинг-курсы, прочитать лекции, оказать первую помощь и сказать красивый тост за праздничным столом. Помимо клубных турлидеров, в каждой поездке есть также местные гиды, и мы также стараемся выбирать самых лучших.'
      ],
      cards: [
        {
          title: 'Дмитрий Орлов',
          text: 'Учредитель и генеральный директор ГК RuDIVE, PADI курс-директор, Tec Trimix & EFR инструктор-тренер, кандидат биологических наук'
        },
        {
          title: 'Михаил Сафонов',
          text: 'Учредитель ГК RuDIVE, генеральный директор турцентра «Полярный круг», PADI инструктор, TDI инструктор-тренер, кандидат биологических наук'
        },
        {
          title: 'Ирина Квасова',
          text: 'Руководитель отдела обучения ГК RuDIVE. PADI IDC Staff инструктор'
        },
        {
          title: 'Алексей Побожаков',
          text: 'PADI IDC Staff инструктор, психолог-консультант'
        },
        {
          title: 'Екатерина Кусачёва',
          text: 'PADI инструктор'
        },
        {
          title: 'Максим Котляр',
          text: 'PADI инструктор, TDI Advanced Trimix Diver'
        },
        {
          title: 'Наталья Бараночникова',
          text: 'PADI мастер-инструктор, Tec Deep Instructor, EFR Instructor, Full Cave Diver, DPV diver'
        },
        {
          title: 'Мария Каштанова',
          text: 'PADI OWSI'
        },
        {
          title: 'Дмитрий Козлов',
          text: 'PADI MSDT инструктор'
        },
      ],
    },
    {
      title: 'managers',
      text: [
        'Турменеджеры ― это креативные и ответственные люди, которые создают путешествия. Они придумывают маршруты, выбирают яхты и отели, бронируют билеты, выбирают лучших гидов и рассказывают об этом вам, дорогие друзья. Будьте с ними на связи, и тогда вы сможете принять участие в самых интересных путешествиях на этой планете.'
      ],
      cards: [
        {
          title: 'Ирина Квасова',
          text: 'Руководитель отдела обучения ГК RuDIVE. PADI IDC Staff инструктор'
        },
        {
          title: 'Максим Котляр',
          text: 'Менеджер дайв-центра «Спас-Каменка», PADI инструктор, TDI Advanced Trimix Diver'
        },
        {
          title: 'Евгений Чекменев',
          text: 'Менеджер дайв-центра на Черном море, PADI инструктор'
        },
        {
          title: 'Дмитрий Козлов',
          text: 'Менеджер дайв-центра в "Крокус Сити Океанариуме", PADI MSDT инструктор'
        },
        {
          title: 'Сергей Бурыкин',
          text: 'Менеджер дайв-центра "Азовский", PADI инструктор '
        },
        {
          title: 'Светлана Калашникова',
          text: 'Менеджер по туризму, PADI дайвмастер'
        },
        {
          title: 'Дарья Литовченко',
          text: 'Менеджер по туризму, PADI OWD'
        },
        {
          title: 'Вадим Иванов',
          text: 'Менеджер туроператорского отдела, PADI Rescue Diver '
        },
        {
          title: 'Виктория Файзулина',
          text: 'Менеджер дайв-центра на Лодочной, PADI дайвмастер'
        },
      ],
    },
    {
      title: 'instructors',
      cards: [
        {
          title: 'Дмитрий Орлов',
          text: 'Учредитель и генеральный директор ГК RuDIVE, PADI курс-директор, Tec Trimix & EFR инструктор-тренер, кандидат биологических наук'
        },
        {
          title: 'Михаил Сафонов',
          text: 'Учредитель ГК RuDIVE, генеральный директор турцентра «Полярный круг», PADI инструктор, TDI инструктор-тренер, кандидат биологических наук'
        },
        {
          title: 'Ирина Квасова',
          text: 'Руководитель отдела обучения ГК RuDIVE. PADI IDC Staff инструктор'
        },
        {
          title: 'Алексей Побожаков',
          text: 'PADI IDC Staff инструктор, психолог-консультант'
        },
        {
          title: 'Сергей Бурыкин',
          text: 'Менеджер дайв-центра "Азовский", PADI инструктор '
        },
        {
          title: 'Екатерина Кусачёва',
          text: 'PADI инструктор'
        },
        {
          title: 'Максим Котляр',
          text: 'PADI инструктор, TDI Advanced Trimix Diver'
        },
        {
          title: 'Дмитрий Козлов',
          text: 'PADI MSDT инструктор'
        },
        {
          title: 'Мария Каштанова',
          text: 'PADI OWSI'
        },
      ],
    },
  ];

.section-bottom.team
  .container
    +tabsBlock('team', 'team', teamTabs)
      for item, index in teamTab
        .tab.team__tab(class=item.class id=`team-tab-${index + 1}`)
          if item.text
            +text('team', item.text)
          +tabCards('team', item)
