.books {
  &__text {
    color: rgba(255, 255, 255, 0.7);
  }

  &__cards-block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 50px 54px;
    margin-bottom: 78px;

    @media (max-width:1470px) {
      gap: 32px 24px;
      margin-bottom: 56px;
    }

    @media (max-width:1100px) {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 24px;
      margin-bottom: 48px;
    }

    @media (max-width:720px) {
      gap: 24px 16px;
      margin-bottom: 36px;
    }

    @media (max-width:480px) {
      grid-template-columns: 1fr;
      gap: 16px;
      margin-bottom: 32px;
    }
  }

  &__card {
    padding: 40px 26px 30px;

    @media (max-width:1470px) {
      padding: 36px 26px 24px;
    }

    @media (max-width:1100px) {
      padding: 32px 26px 24px;
    }

    @media (max-width:720px) {
      padding: 24px 26px 16px;
    }
  }

  &__card-img-block {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 26px;
    width: 100%;
    max-width: 445px;
    min-height: 265px;
    background-color: var(--white);

    @media (max-width:1100px) {
      margin-bottom: 16px;
    }

    @media (max-width:720px) {
      margin-bottom: 12px;
    }

    @media (max-width:480px) {
      min-height: auto;
      margin-bottom: 16px;
    }
  }

  &__card-title {
    max-width: 445px;
    line-height: 22px;

    @media (max-width:1100px) {
      line-height: 20px;
    }
  }

  &__card-price {
    gap: 5px;
    padding-top: 11px;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;

    @media (max-width:1100px) {
      line-height: 22px;
    }

    @media (max-width:720px) {
      padding-top: 8px;
    }

    @media (max-width:480px) {
      font-size: 16px;
    }

    & svg {
      fill: var(--dark);
    }
  }
}
