.center-info {
  &__container {
    display: flex;
    justify-content: space-between;
    gap: 41px;

    @media (max-width:1470px) {
      gap: 32px;
    }

    @media (max-width:1100px) {
      flex-direction: column;
    }
  }

  &__block {
    border-radius: 15px;
    padding: 42px 45px;
    width: 50%;
    color: var(--white);
    background-color: rgba(255, 255, 255, 0.1);

    @media (max-width:1470px) {
      padding: 32px 36px;
    }

    @media (max-width:1100px) {
      width: 100%;
    }

    @media (max-width:480px) {
      border-radius: 10px;
      padding: 24px;
    }
  }

  &__title {
    margin-bottom: 21px;

    @media (max-width:480px) {
      margin-bottom: 16px;
    }
  }

  &__list {
    margin-bottom: 26px;

    @media (max-width:720px) {
      margin-bottom: 16px;
    }
  }

  &__item {
    &::before {
      content: '';
      position: relative;
      top: 50%;
      display: inline-block;
      border-radius: 50%;
      margin-right: 5px;
      width: 4px;
      height: 4px;
      background-color: var(--white);
      transform: translateY(-50%);
    }
  }

  &__paragraph {
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;

    @media (max-width:480px) {
      line-height: 22px;
    }
  }

  &__text {}
}
