extends ./partials/templates/page.pug

block vars
  - const link = 'Расписание курсов по дайвингу';
  - const title = 'Расписание курсов по дайвингу';

block append main
  include ./partials/modal-reg-training.pug
  include ./partials/schedule-courses.pug
  include ./partials/bonus.pug
