extends ./partials/templates/page-main.pug

block main
  include ./partials/modal-reg-training.pug
  include ./partials/center-hero.pug
  include ./partials/center-location.pug
  include ./partials/center-courses.pug
  include ./partials/center-route.pug
  include ./partials/center-info.pug
