extends ./partials/templates/page.pug

block vars
  - const lastItem = 'Подарки';
  - const title = 'Подарочные сертификаты на дайвинг и подводные приключения';

block append main
  include ./partials/gifts.pug
