extends ./partials/templates/page-main.pug

block bg
  .wrapper__bg(style="background-image: url(./images/bg.webp);")

block main
  include ./partials/hero.pug
  include ./partials/tours.pug
  include ./partials/reports.pug
  include ./partials/info.pug
  include ./partials/reviews.pug
  include ./partials/blog.pug
