extends ./partials/templates/page-main.pug

block main
  include ./partials/modal-certificate.pug
  include ./partials/modal-book.pug
  include ./partials/oceanariums-hero.pug
  include ./partials/oceanariums-advantages.pug
  include ./partials/oceanariums-price.pug
  include ./partials/oceanariums-reports.pug
  include ./partials/oceanariums-info.pug
  include ./partials/oceanariums-questions.pug
