extends ./partials/templates/page.pug

block vars
  - const lastItem = 'Цены на обучение';
  - const title = 'Цены на обучение';

block append main
  include ./partials/modal-reg-training.pug
  include ./partials/modal-buy.pug
  include ./partials/prices.pug
