extends ./partials/templates/page.pug

block vars
  - const link = 'Расписание клубных поездок';
  - const title = 'Расписание клубных поездок';

block append main
  include ./partials/modal-book.pug
  include ./partials/schedule-travel.pug
  include ./partials/bonus.pug
