extends ./partials/templates/page-sm.pug

block vars
  - const lastItem = 'Расписание клубных поездок';
  - const title = 'Расписание клубных поездок';

block append main
  include ./partials/modal-book.pug
  include ./partials/schedule-travel.pug
  include ./partials/bonus.pug
