extends ./partials/templates/page.pug

block vars
  - const links = {'team' : 'Наша команда'};
  - const lastItem = 'Дмитрий Орлов';
  - const title = 'Дмитрий Орлов';

block append main
  include ./partials/modal-reg-training.pug
  include ./partials/specialist.pug
  include ./partials/specialist-schedule.pug
