doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name="viewport",
    content="width=device-width, initial-scale=1.0")
    title ruDive
    link(rel="stylesheet" href="./css/vendor.css")
    link(rel="stylesheet" href="./css/main.css")
    script(defer src="./js/vendor.js")
    script(defer src="./js/main.js")
  body
    .wrapper
      include ./partials/header.pug
      include ./partials/modal.pug
      .wrapper__bg.wrapper__page-bg(style="background-image: url(./images/page-bg.webp);")
      main.main
        include ./partials/training-hero.pug
        include ./partials/training.pug
        include ./partials/training-centers.pug
        include ./partials/request.pug
        include ./partials/registration.pug
      include ./partials/footer.pug
