extends ./partials/templates/page-main.pug

block main
  include ./partials/modal-reg-training.pug
  include ./partials/trip-hero.pug
  include ./partials/trip-info.pug
  include ./partials/trip-program.pug
  include ./partials/trip-courses.pug
