include ../../mixins/modal-entrance.pug

-
  const entranceForm = [
    {type: 'email', placeholder: 'E-mail'},
    {type: 'password', placeholder: 'Пароль'},
  ];
  const recoveryForm = [
    {type: 'email', placeholder: 'E-mail'},
  ];

<!-- модальное окно "Вход" -->

+modalEntrance("modal-entrance", entranceForm, "modal-recovery", "Забыли пароль?", true)

<!-- модальное окно "Забыли пароль?" -->

+modalEntrance("modal-recovery", recoveryForm, "modal-entrance", "Продолжить")
