<!-- модальное окно "Забронировать" -->
include ../../mixins/modal-book.pug

-
  const bookForm = [
    {type: 'text', placeholder: 'Имя'},
    {type: 'text', placeholder: 'Фамилия'},
    {type: 'email', placeholder: 'E-mail'},
    {type: 'tel', placeholder: 'Телефон'},
  ];

+modalBook("modal-book", bookForm, "Отправить")
