<!-- модальное окно "Купить" -->
include ../../mixins/modal-book.pug

-
  const buyForm = [
    {type: 'text', placeholder: 'Имя'},
    {type: 'text', placeholder: 'Фамилия'},
    {type: 'email', placeholder: 'E-mail'},
    {type: 'tel', placeholder: 'Телефон'},
    {type: 'text', placeholder: 'Сумма'},
    {type: 'text', placeholder: 'Банковская карта'},
  ];

+modalBook("modal-buy", buyForm, "Купить", false)
